<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中国医师协会住院医师规范化培训放射科专业委员会考察培训中心</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：2016年2月19-20日，农历新年之后第一个工作周的周末，中国医师协会住院医师规范化培训放射科专业委员会（简称放射科住陪专委会）的各位领导就在郭启勇会长的率领下风尘仆仆地赶到了上海和苏州，开始针对放射科住陪工作的场地对联影和飞利浦的培训设施进行考察实地考察，并与公司的领导商谈如何建立放射专业住培的师资力量培训。
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">
                    <div>&nbsp;</div>
                    <div>&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>2016年2月19-20日，农历新年之后第一个工作周的周末，中国医师协会住院医师规范化培训放射科专业委员会（简称“放射科住陪专委会”）的各位领导就在郭启勇会长的率领下风尘仆仆地赶到了上海和苏州，开始针对放射科住陪工作的场地对联影和飞利浦的培训设施进行考察实地考察，并与公司的领导商谈如何建立放射专业住培的师资力量培训。继2015年9月30日和2016年1月23日两次工作会议之后，这次考察又取得了放射科住陪工作的阶段性进展。<br>
                        &nbsp;</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        放射科住陪专委会将把美国的培训模式引入中国，在中国建立几个培训中心。培训中心的建立计划采取与企业合作模式，利用企业现有的培训基地，以保证住陪工作得以有效地开展。此次行程，放射科住陪专委会的领导考察了飞利浦苏州基地及联影上海基地，之后还将安排其他企业的基地考察行程。郭会长就放射科住陪工作的背景、目的、意义及对培训基地的要求等做了说明，双方就合作内容进行了友好的会谈，将在放射科住陪专委会美国考察之后继续就具体合作内容进行进一步的商谈。<br>
                        &nbsp;</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        尽快开展放射科医师的规范化培训，提高放射科医师的诊断水平，从而为广大患者带来福祉，是放射科住陪专委会秉承的宗旨。当然，项目的有效实施是与各企业的支持和配合分不开的，公司领导表示将积极参与放射医生住培中心建设。在此，放射科住陪专委会感谢企业的参与，大家共同携手为中国放射医师诊断水平的快速提高作出贡献！<br>
                        <br>
                        &nbsp;</div>
                    <div style="text-align: center"><img alt="飞利浦会议室洽谈" width="716" height="537"
                            src="http://www.chinaradiologists.org/file/upload/201603/05/19-12-24-80-1.jpg"
                            title="点击打开原图"><br>
                        飞利浦会议室洽谈<br>
                        <br>
                        <img alt="飞利浦基地合影" width="716" height="401"
                            src="http://www.chinaradiologists.org/file/upload/201603/05/19-13-07-48-1.jpg"
                            title="点击打开原图"><br>
                        飞利浦基地合影<br>
                        <br>
                        <img alt="联影会议室洽谈" width="716" height="465"
                            src="http://www.chinaradiologists.org/file/upload/201603/05/19-13-48-50-1.jpg"
                            title="点击打开原图"><br>
                        联影会议室洽谈<br>
                        <br>
                        <img alt="联影基地合影" width="716" height="477"
                            src="http://www.chinaradiologists.org/file/upload/201603/05/19-14-22-19-1.jpg"
                            title="点击打开原图"><br>
                        联影基地合影</div>
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                        title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生攀登计划">中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生攀登计划</a>
                                </li>
                                <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                        title="第二届全国运动损伤磁共振诊断学习班简章">第二届全国运动损伤磁共振诊断学习班简章</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>