<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">飞利浦西部放射医师继续教育项目-开幕式日程安排</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：创新西部 放飞梦想中国医师协会放射医师学院 --飞利浦西部放射医师继续教育项目开幕式日程安排（2014年7月26日，西安/昆明/银川/
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article"><div>
                    <p align="center"><b>创新西部 放飞梦想</b></p>
                    <p align="center"><b>中国医师协会放射医师学院 --飞利浦放射医师继续教育项目</b></p>
                    <p><b>&nbsp;</b></p>
                    <p align="center"><b>日程安排</b></p>
                    <p align="center">（2014年7月26日，西安/昆明/银川/贵阳/兰州）</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 会议主持人：分会总干事&nbsp;程晓光</p>
                    <div align="center">
                    <table border="1" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="84">
                                <p align="center"><b>日 期</b></p>
                                </td>
                                <td width="127">
                                <p align="center"><b>时&nbsp;间</b></p>
                                </td>
                                <td width="387">
                                <p align="center"><b>会议内容</b></p>
                                </td>
                                <td width="76" valign="top">
                                <p align="center"><b>主持人</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="84" rowspan="11">
                                <p align="center">5月26日</p>
                                </td>
                                <td width="127">
                                <p align="center">8:30－9:00</p>
                                <p align="center">&nbsp;</p>
                                </td>
                                <td width="387">
                                <p align="center">领导致辞：</p>
                                <p align="center">放射分会领导 郭启勇</p>
                                <p align="center">&nbsp;飞利浦公司领导 武少杰</p>
                                <p align="center">甘肃放射分会领导 郭顺林</p>
                                <p align="center">贵阳放射分会领导 李德炯</p>
                                <p align="center">宁夏放射分会领导 郭玉林</p>
                                <p align="center">云南放射分会领导 赵卫</p>
                                <p align="center">陕西放射分会领导 郭佑民</p>
                                <p align="center">医师协会领导</p>
                                <p align="center">项目启动仪式</p>
                                <p align="center">集体合影</p>
                                </td>
                                <td width="76">
                                <p align="center">程晓光</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">9:00－10:00</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：郭启勇 （在西安会场）</p>
                                <p align="left">-肝脏肿瘤的影像诊断</p>
                                </td>
                                <td width="76" rowspan="2">
                                <p align="center">郭佑民</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p>&nbsp;10:00-11:00</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：宋彬 （在西安会场）</p>
                                <p align="left">-急性胰腺炎影像诊断新概念</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">11:00－11:15</p>
                                </td>
                                <td width="463" colspan="2">
                                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   茶歇</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">11:15－12:15</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：韩萍（在昆明会场）</p>
                                <p align="left">-胰腺肿瘤的影像诊断及鉴别诊断</p>
                                </td>
                                <td width="76">
                                <p align="center">赵卫</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">12:15－13:15</p>
                                </td>
                                <td width="463" colspan="2">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 午餐</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">13:15－14:15</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：梁长虹（在银川会场）</p>
                                <p align="left">-心血管CT</p>
                                </td>
                                <td width="76">
                                <p align="center">郭玉林</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">14:15－14:30</p>
                                </td>
                                <td width="463" colspan="2">
                                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   茶歇</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">14:30－<a name="_GoBack" target="_blank"></a>15:30</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：龚洪翰(在贵阳会场)</p>
                                <p align="left">- CT增强超延时扫描在泌尿生殖系统病变的临床应用</p>
                                </td>
                                <td width="76">
                                <p align="center">李德炯</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">15:30-16:30</p>
                                </td>
                                <td width="387">
                                <p align="left">主讲人：冯逢（在兰州会场）</p>
                                <p align="left">-垂体病变的MRI诊断及鉴别诊断</p>
                                </td>
                                <td width="76">
                                <p align="center">郭顺林</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="127">
                                <p align="center">16:30-16:35</p>
                                </td>
                                <td width="387">
                                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   总结</p>
                                </td>
                                <td width="76">
                                <p align="center">程晓光</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="84">
                                <p align="center">&nbsp;</p>
                                </td>
                                <td width="127">
                                <p align="center">17:00－18:30</p>
                                </td>
                                <td width="463" colspan="2">
                                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   晚餐</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div style="text-align: center; "><img src="http://www.chinaradiologists.org/file/upload/201407/24/09-34-09-93-1.jpg" width="71" height="71" style="text-align: center; text-indent: 28px; " alt=""></div>
                    <p style="text-align: center; ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;欢迎关注中国放射医师学院微信平台及网站</p>
                    <p style="text-align: center; ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;微信号：chinaradiologists</p>
                    <p style="text-align: center; ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;网&nbsp;址：www.chinaradiologists.org</p>
                    </div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_51.html"
                                    title="第三届中国核医学医师年会召开">第三届中国核医学医师年会召开</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_49.html"
                                    title="2014“西部放射医师继续教育项目”于西安启动">2014“西部放射医师继续教育项目”于西安启动</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>