<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">热烈祝贺北京积水潭医院程晓光教授当选“亚洲骨骼学会AMS”主席</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">核心提示：北京积水潭医院放射科程晓光教授2017年1月19日在日本东京举行的19届亚洲骨骼学会（Asian Musculoskeletal
                    Society，AMS）年会上当选为AMS主席。AMS成立与1998年，由亚洲各国顶尖肌骨放射学家组成，是亚洲地区最具影响力的肌骨放射专业学会，这是AMS历史上首位中国主席。本次AMS年会由日本东京慈惠会医科大学主办，来自美国、英国、日本、德国、芬兰、新加坡、香港、中国台湾、
                </div>
                <!-- <div class="conter">
                   
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                        <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97" title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html" title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                        </ul>
                        </div>
                </div> -->
                <div class="conter" id="article">
                    <div style="text-indent: 0px;"><span style="text-indent: 21pt;">&nbsp; &nbsp;
                            北京积水潭医院放射科程晓光教授</span><span lang="EN-US" style="text-indent: 21pt;">2017</span><span
                            style="text-indent: 21pt;">年</span><span lang="EN-US"
                            style="text-indent: 21pt;">1</span><span style="text-indent: 21pt;">月</span><span
                            lang="EN-US" style="text-indent: 21pt;">19</span><span
                            style="text-indent: 21pt;">日在日本东京举行的</span><span lang="EN-US"
                            style="text-indent: 21pt;">19</span><span style="text-indent: 21pt;">届“亚洲骨骼学会”（</span><span
                            lang="EN-US"
                            style="text-indent: 21pt; font-size: 10pt; font-family: 微软雅黑, sans-serif;">Asian
                            Musculoskeletal Society</span><span
                            style="text-indent: 21pt; font-size: 10pt; font-family: 微软雅黑, sans-serif;">，<span
                                lang="EN-US">AMS</span></span><span style="text-indent: 21pt;">）年会上当选为</span><span
                            lang="EN-US" style="text-indent: 21pt;">AMS</span><span
                            style="text-indent: 21pt;">主席。</span><span lang="EN-US"
                            style="text-indent: 21pt;">AMS</span><span style="text-indent: 21pt;">成立与</span><span
                            lang="EN-US" style="text-indent: 21pt;">1998</span><span
                            style="text-indent: 21pt;">年，由亚洲各国顶尖肌骨放射学家组成，是亚洲地区最具影响力的肌骨放射专业学会，这是</span><span lang="EN-US"
                            style="text-indent: 21pt;">AMS</span><span style="text-indent: 21pt;">历史上首位中国主席。</span>
                    </div>
                    <span style="text-indent: 21pt;"><br>
                    </span><span style="text-indent: 21pt;">&nbsp; &nbsp; 本次</span><span lang="EN-US"
                        style="text-indent: 21pt;">AMS</span><span
                        style="text-indent: 21pt;">年会由日本东京慈惠会医科大学主办，来自美国、英国、日本、德国、芬兰、新加坡、香港、中国台湾、菲律宾、印度、中国等十几个国家的肌骨影像领域的专家、学者共约</span><span
                        lang="EN-US" style="text-indent: 21pt;">200</span><span
                        style="text-indent: 21pt;">人参加了本次大会。本次大学的主题是“</span><span lang="EN-US"
                        style="text-indent: 21pt;">Radiology and Pathology: A Pair of Wheels of MSK</span><span
                        style="text-indent: 21pt;">”，旨在促进放射与病理的交流与沟通。程晓光教授与河北三院的崔建岭教授受邀做大会主题演讲，参与此次盛会的国内专家还有江苏省人民医院的邹月芬教授。程晓光教授在本次大会上与亚洲各国肌骨放射学家及病理学家进行了深入交流，同时拟借助</span><span
                        lang="EN-US" style="text-indent: 21pt;">AMS</span><span
                        style="text-indent: 21pt;">学术平台进一步推进亚洲肌骨放射领域的合作与交流。在本次</span><span lang="EN-US"
                        style="text-indent: 21pt;">AMS</span><span style="text-indent: 21pt;">年会的“</span><span
                        lang="EN-US" style="text-indent: 21pt;">Best Paper Awards</span><span
                        style="text-indent: 21pt;">”竞选中，程晓光教授的学生王玲博士的论文经</span><span lang="EN-US"
                        style="text-indent: 21pt;">AMS</span><span
                        style="text-indent: 21pt;">学术委员会评比，获得第一名，并将由</span><span lang="EN-US"
                        style="text-indent: 21pt;">AMS</span><span style="text-indent: 21pt;">资助参加今年</span><span
                        lang="EN-US" style="text-indent: 21pt;">8</span><span
                        style="text-indent: 21pt;">月底在纽约举行</span><span lang="EN-US"
                        style="text-indent: 21pt;">ISS</span><span style="text-indent: 21pt;">年会。<br>
                        <br>
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201701/24/18-00-33-52-1.jpg"
                                width="716" height="954" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">&nbsp; &nbsp; 亚洲骨骼学会新任主席北京大学程晓光教授与前任主席东京慈惠会医科大学<span
                                lang="EN-US">Kunihiko Fukuda</span>教授<br>
                            <br>
                            <span lang="EN-US">
                                <o:p></o:p>
                            </span></div>
                        <div style="text-align: center;">&nbsp; &nbsp; <img
                                src="http://www.chinaradiologists.org/file/upload/201701/24/18-00-47-90-1.jpg"
                                width="716" height="537" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">&nbsp; &nbsp; 程晓光教授与亚洲骨骼学会创始人之一新加坡国立大学<span
                                lang="EN-US">Wilfred CG Peh</span>教授<br>
                            <br>
                            <span lang="EN-US">
                                <o:p></o:p>
                            </span></div>
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201701/24/18-00-57-50-1.jpg"
                                width="716" height="537" alt="" title="点击打开原图"></div>
                    </span>
                    <div style="text-align: center;"><span style="text-indent: 21pt;"> &nbsp; &nbsp; 王玲博士获得<span
                                lang="EN-US">AMS “Best Paper Award”<o:p></o:p></span></span></div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_14.html"
                                    title="“攀登计划”第二期赴美参加AIRP第一周体会">“攀登计划”第二期赴美参加AIRP第一周体会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="ACR Case in Point">ACR Case in Point</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>