<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">“攀登计划”第二期赴美参加AIRP第一周体会</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：由中华国际医学交流基金会和中国医师协会放射医师分会共同主办，江苏恒瑞医药股份有限公司独家支持的攀登计划二期学员2017年3月11日在北京首都机场集结整装待发。带着郭启勇会长的重托，在团长王霄英教授，副团长娄昕教授和孙洪赞教授的组织下，即将奔赴美国马里兰州银泉市开始为期4周的AIRP规范化培训。2017年3月13日，星期一，早上7点45分培训正式开始。共有来自世界各地约20
                </div>
                <br>
                <div class="conter" id="article">
                    <p align="left">
                        由中华国际医学交流基金会和中国医师协会放射医师分会共同主办，江苏恒瑞医药股份有限公司独家支持的“攀登计划”二期学员<span>2017年3月11日在北京首都机场集结整装待发。带着郭启勇会长的重托，在团长王霄英教授，副团长娄昕教授和孙洪赞教授的组织下，即将奔赴美国马里兰州银泉市开始为期4周的AIRP规范化培训。<br>
                            <br type="_moz">
                        </span></p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201703/30/09-01-04-19-1.jpg" width="716"
                            height="537" alt="" title="点击打开原图"></p>
                    <p align="left">&nbsp; &nbsp; <br>
                        &nbsp; &nbsp;
                        2017年<span>3月13日，星期一，早上7点45</span>分培训正式开始。共有来自世界各地约<span>200</span>多名放射医师参加了此次培训。每天的培训时间为<span>8小时，十分紧张和充实。&nbsp;</span>
                    </p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201703/30/09-01-21-27-1.jpg" width="572"
                            height="800" alt="">&nbsp;</p>
                    <p align="left">&nbsp; &nbsp;<br>
                        &nbsp; &nbsp; 一周的学习，<span>AIRP授课教授们留给我们的，除了完美的课件，精彩的讲课，多样的授课技巧，更多是深层次的思考：</span><br>
                        <br>
                        &nbsp; &nbsp;
                        1.授课逻辑和结构，精心设计。<span>AIRP授课讲师们所有课程的逻辑和结构都经过精心设计，授课过程就像是讲一个精彩的故事，一环扣一环，课程紧凑，重点突出，杜绝废话。</span><br>
                        <br>
                        &nbsp; &nbsp;
                        2.授课图像的选择，优中选优。从一张张制作精美的幻灯片，可以看出讲师们在选择影像图像以及与之匹配的病理图像时的纠结和用心、贴心，所有的图片都是典型病例，并且选择的大体病理和影像学图片全部完美匹配。<br>
                        <br>
                        &nbsp; &nbsp;
                        3.教师的综合实力，全面覆盖。基本上每位教师的授课内容，都同时用到了当下所有的影像医学技术，包括超声、<span>CT、MR、PET，充分体现了教师们扎实的基本功和影像技术的全方位培训，这在目前的中国可能难以实现，但我们可以有意识地培养和提高自己在这方面的综合能力。</span><br>
                        <br>
                        &nbsp; &nbsp;
                        4.课堂“教”、“学”的互动，不拘一格。和常规的学术讲座以及课堂教学不同，<span>AIRP讲师们非常重视课堂“教”、“学”的互动，希望能够达到教学内容的最大化吸收。因此，几乎所有AIRP讲师都具备“察言观色”的能力，个个都是“段子手”，当看到课堂气氛不够活跃，有人打瞌睡时，立即适时讲一个应景的段子、故意讲错一个内容、甚至从兜里像变魔术一样变出来一堆糖果，活跃课堂气氛。</span><br>
                        <br>
                        &nbsp; &nbsp;
                        “授之以鱼，不如授之以渔”，<span>AIRP对我们“中国兵团”的培训，最大的意义可能在于，回国后，我们都知道怎样组织一堂内容精彩、重点突出、互动良好的课程，真正帮助到年轻的影像科医生，更加美丽的愿景是：通过我们身体力行的不断努力，带动一大批有潜质的教师们，以点带面，星星之火，燎原神州，最终带动我国影像医学事业的蓬勃发展！</span>
                    </p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_1.html"
                                    title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="中国医师协会放射医师分会 第二期“攀登计划”AIRP培训第二周周报">中国医师协会放射医师分会 第二期“攀登计划”AIRP培训第二周周报</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="中国医师协会放射医师分会 第二期“攀登计划”AIRP培训第二周周报">中国医师协会放射医师分会 第二期“攀登计划”AIRP培训第二周周报</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>