<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">2015“西部放射医师继续教育项目”于南昌启动</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：2015年12月19日，中国，南昌，中国医师协会放射医师学院和飞利浦公司共同合作的2015西部放射医师继续教育项目（以下简称西部行）在南昌启动。2015年，西部行项目与时具进，积极利用先进的通讯技术，通过远程网络平台，与云南（昆明）、贵州（贵阳）、宁夏（银川）和甘肃（兰州）五地实现同步直播。
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">&nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;<b>2015</b><b>年</b><b>1</b><b>2</b><b>月</b><b>19</b><b>日，</b><b>中国，</b><b>南昌</b><b>，</b>中国医师协会放射医师学院和飞利浦公司共同合作的2015“西部放射医师继续教育项目”（以下简称“西部行”）在南昌启动。<span>2015年，“西部行”项目与时具进，积极利用先进的通讯技术，通过远程网络平台，与</span>云南（昆明）、贵州（贵阳）、宁夏（银川）和甘肃（兰州）五地实现同步直播。结合现场培训和远程互动的会议形式，五地会场约800多人同时参加了项目启动仪式。中国医师协会副秘书长谢启麟，中国医师协会放射医师分会会长、中国放射医师学院院长郭启勇，飞利浦医疗副总裁、大中华区诊断影像业务部总经理席渭龄以及五省市医师协会和放射学会的领导出席了本次启动仪式。
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201601/04/12-31-22-86-1.jpg" alt=""
                            height="312" width="716" title="点击打开原图"></p>
                    <p>“网络强国”战略在刚刚闭幕的乌镇互联网大会上被反复提及，促进互联网和经济社会的融合发展已成为“十三五”时期的行动纲领。2015“西部行”项目积极响应这一战略，将传统的医疗培训与“互联网＋”相结合，以最小化的成本最大化参加培训课程的医生数量，并以标准化的培训课程覆盖西部偏远地区，是对经济欠发达地区人员培训形式的全新尝试。自2010年末，“西部放射医师继续教育项目”累计邀请了超过60位的临床专家，为来自青海、宁夏、新疆等西部9省近5000名基层放射医师提供专业的影像培训。今年，来自国内影像领域的专家着重对腹部、脑部及心血管等病变的影像诊断向与会医师做了系统、详尽的讲解。《中华临床医学影像学》这套即将出版的“十二五”国家重点图书（每套总计<span>12本）也将配合项目赠送给西部各省学会做为培训参考用书。</span>
                    </p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201601/04/12-31-40-31-1.jpg" width="716"
                            height="400" alt="" title="点击打开原图"></p>
                    <p>&nbsp;“影像医学在疾病的预防、诊断和治疗过程中发挥着巨大的作用。近些年，西部医疗的硬件环境有了明显的改善，而人才、技术的提升与改进则显得尤为迫切。我们希望通过培训提高医疗影像设备的使用效率，提高医学影像的诊断水平，从而促进西部医疗卫生事业的全面发展。本次培训采用先进的网络技术，增强了互动培训，令更多的基层医生能够参与和接受国内著名专家的授课，在节省资源的同时达到了更好的培训效果。”郭启勇教授说。“人在银川，就可以通过网络听到全国专家的培训，不仅方便，而且更为我提供了和全国同行交流的平台。”在银川分会场的一位放射科医师说到。
                    </p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201601/04/12-31-58-76-1.jpg" width="716"
                            height="271" alt="" title="点击打开原图"></p>
                    <p>作为“西部放射医师继续教育项目”的合作伙伴，飞利浦医疗保健积极配合、支持“西部放射医师继续教育项目”。“过去四年，我们持之以恒的参与、推广‘西部行’项目，帮助提高西部放射医师的临床诊断水平，造福当地患者，是飞利浦医疗保健<span>‘以人为本’核心理念的集中反映，也是我们作为一个有社会责任感的企业公民为西部医疗卫生事业贡献的绵薄之力。在未来，飞利浦会更加注重为患者、医生、医院提供全方位的医疗服务方案，而不单单满足于产品购买的合作层面，飞利浦期望继续携手中国医师协会及放射医师学院把‘西部行’项目越办越好。”席渭龄女士说。</span>
                    </p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201601/04/12-32-09-67-1.jpg" alt=""
                            height="400" width="716" title="点击打开原图"></p>
                    <p>今年，飞利浦还将其在2015年芝加哥北美放射年会上展示的最新科研进展及解决方案向与会医师做了展示，包括剂量管理、核磁共振、诊断X线、放射数据智能以及可视化等新型解决方案。通过加强整合力度，放射学可以对医疗成本和服务质量产生巨大影响。通过更加精准的影像，让医生的诊断更有信心。飞利浦的诊断X线系列、<a
                            href="http://www.spectralctlearningcenter.philips.com/"
                            target="_blank"><span>IQon光谱CT</span></a>、<a
                            href="http://www.usa.philips.com/healthcare/product/HC882446/vereos-digital-pet-ct"
                            target="_blank"><span>Vereos全数字PET/CT</span></a>、超声及图像引导治疗解决方案，不仅改善图像质量，更有助于提高医院和放射科医师的工作效率。同时，放射学在大多数的医疗决策中都发挥着重要作用，它可以快速提供结果，帮助患者及时获得治疗；它可以改进放射报告和分析结果，让医生作出科学的临床决策；它还可以让医务工作人员获取整个组织的临床信息。从而<span>让影像更有效地指导医疗方案的制定。飞利浦</span><a
                            href="http://www.usa.philips.com/healthcare/solutions/clinical-informatics/clinical-informatics-enterprise-imaging"
                            target="_blank"><span>IntelliSpace PACS</span></a>和<a
                            href="http://www.usa.philips.com/healthcare/solutions/clinical-informatics/clinical-informatics-enterprise-imaging"
                            target="_blank"><span>IntelliSpace
                                Portal</span></a>即为两款具有综合功能的高性能软件。此外，飞利浦也非常关注给患者更多关爱，让患者检查更加安心。通过剂量管理和<a
                            href="http://www.2.forms.healthcare.philips.com/LP=207"
                            target="_blank"><span>飞利浦MR内孔径环境逸境体验</span></a>系统，令患者的放射性检查更加安心与舒适。</p>
                            <div class="np">
                                <ul>
                                    <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                            title="第二届全国运动损伤磁共振诊断学习班简章">第二届全国运动损伤磁共振诊断学习班简章</a>
                                    </li>
                                    <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                            title="中国影像好医生收官战—11月21日海口站会议圆满落幕">中国影像好医生收官战—11月21日海口站会议圆满落幕</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>