<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">Balanced： 心脏亮血电影成像序列</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：心脏磁共振成像主要有两个大的应用方向，一是通过对心脏运动（收缩和舒张）的成像，评价心脏射血功能；二是通过注射对比剂或T1、T2参数成像，评价心肌活性及心肌成分改变。其中，心脏功能评价在目前心脏磁共振成像中，应用最为广泛。
                </div>
                <div class="conter">
                    <!-- <h1 style="text-align: center;"><b>中华国际医学交流基金会</b></h1>
                    <h1 style="text-align: center;"><b>中国医师协会放射医师分会</b></h1>
                    <h1 style="text-align: center;"><b>中青年影像医生“攀登计划”第四期第一</b><b>轮遴选结果</b></h1> -->
                    <p>心脏磁共振成像主要有两个大的应用方向，一是通过对心脏运动（收缩和舒张）的成像，评价心脏射血功能；二是通过注射对比剂或T1、T2参数成像，评价心肌活性及心肌成分改变。其中，心脏功能评价在目前心脏磁共振成像中，应用最为广泛。&nbsp;
                    </p>
                    <p class="MsoNormal" style="text-align: center;"><b
                            style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(6, 6, 6); font-family: "
                            helvetica="" sans="" border-box="">本期内容：心脏亮血电影成像序列的原理及应用<br>
                            <br type="_moz">
                        </b></p>
                    <br>
                    <p class="MsoNormal" style="text-align: left;"><b>1. 图像特点<br>
                            <br>
                        </b></p>
                    <p class="MsoNormal" style="text-align: center;"><strong><img
                                src="/web/images/newsTrends/08-21-40-31-1.jpg"
                                width="640" height="360" alt=""></strong><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal">以左室流入流出道层面（又名三腔心）为例，<span lang="EN-US">Balanced
                            TFE</span>序列的图像具有：血池亮、心肌黑，自带流动补偿和腱索、瓣膜显示良好等特点。<br>
                        <br>
                        <span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><b>2. 序列结构<br>
                            <br>
                        </b></p>
                    <p class="MsoNormal" style="text-align: center;"><b><img
                                src="/web/images/newsTrends/08-21-53-19-1.jpg"
                                width="640" height="360" alt=""></b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal">如上图中所示，<span lang="EN-US">Balanced
                            TFE</span>最大的特点就是，在下一次激发之前，所有信号都得到重新编码。在两次激发脉冲的中点，形成相位一致的回波信号。正因为如此，刺激回波在<span
                            lang="EN-US">B-TFE</span>中不再产生伪影，而是以贡献图像信噪比的形式存在。<span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal">如果沿回波中点做一条垂线，三个方向的梯度（频率编码方向、相位编码方向、层选择方向）各自对称，即得到平衡，所以此序列命名为<span
                            lang="EN-US">Balanced TFE</span>。<span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <br>
                    <p class="MsoNormal"><b>3. 成像特点</b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><b>图像权重</b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><span lang="EN-US">B-TFE</span>序列属于梯度回波序列，由于它编码和采集了三种回波信号，所以图像的对比度既不是单纯<span
                            lang="EN-US">T1</span>加权，也不是单纯<span lang="EN-US">T2</span>加权。它的对比度由组织的<span
                            lang="EN-US">T2/T1</span>值决定。换言之，组织<span
                            lang="EN-US">T2/T1</span>值越高，在图像中表现为信号越强。由此，水、脂肪、正常流动的血液在<span
                            lang="EN-US">B-TFE</span>中表现为高信号。故又名<span lang="EN-US">“</span>三亮序列<span
                            lang="EN-US">”</span>。</p>
                    <p class="MsoNormal" style="text-align: center;"><img
                            src="/web/images/newsTrends/08-22-14-53-1.jpg" width="640"
                            height="360" alt=""><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><b>成像速度</b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal">因为<span lang="EN-US">B-TFE</span>序列可以使用非常短的<span
                            lang="EN-US">TR</span>和智能加速因子，所以序列时间短，成像速度快。<span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><b>生理门控</b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><span lang="EN-US">B-TFE</span>序列可以与心电门控连用，使扫描覆盖整个心动周期，故能采集完整心动周期内的心脏运动。<span
                            lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <p class="MsoNormal"><b>4. 常见应用<br>
                            <br>
                        </b></p>
                    <p class="MsoNormal" style="text-align: center;"><b><img
                                src="/web/images/newsTrends/08-22-29-68-1.jpg"
                                width="640" height="360" alt=""><br>
                        </b><span lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <br>
                    <p class="MsoNormal">除了心脏亮血电影成像，<span lang="EN-US">B-TFE</span>序列还广泛应用于胎儿、小肠、腹部血管、冠脉等磁共振成像中。<span
                            lang="EN-US">
                            <o:p></o:p>
                        </span></p>
                    <div class="b10 c_b">&nbsp;</div>
                    <br>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_7.html"
                                    title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_9.html"
                                    title="2017中国医师协会放射医师年会暨第十一届全国放射医师论坛第二轮会议通知">2017中国医师协会放射医师年会暨第十一届全国放射医师论坛第二轮会议通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="中青年影像医生“攀登计划”">中青年影像医生“攀登计划”</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html" title="Balanced： 心脏亮血电影成像序列">Balanced：
                                心脏亮血电影成像序列</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>