<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生攀登计划</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">核心提示：欧美发达国家的住院医师规范化培训已经有非常成熟的模式，为了更好的学习发达国家的规培经验，使我们的放射科规培工作尽快步入正轨，由中华国际医学交流基金会与中国医师协会放射医师分会共同发起，江苏恒瑞医药股份有限公司独家支持的中青年影像医生攀登计划（Capacity Upgrading Program，简称CUP）
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">&nbsp; &nbsp; 欧美发达国家的住院医师规范化培训已经有非常成熟的模式，为了更好的学习发达国家的规培经验，使我们的放射科规培工作尽快步入正轨，由中华国际医学交流基金会与中国医师协会放射医师分会共同发起，江苏恒瑞医药股份有限公司独家支持的中青年影像医生<span>“</span><b>攀登计划</b>”（<span>Capacity Upgrading Program，简称CUP）</span>，旨在为中国医学影像领域培养具有规范化诊断思维能力的放射科住院医师规范化培训的培训师。该项目培训合作机构是美国放射学院（<span>American College of Radiology ACR）</span>。<br>
                    <br>
                    <span style="text-indent: 2em;">&nbsp; &nbsp; 入选医生将在</span><span style="text-indent: 2em;">2017年4月份到位于马里兰州的美国放射病理研究所</span><span style="text-indent: 2em;">（</span><span style="text-indent: 2em;">American Institute for Radiologic Pathology AIRP， ACR下属培训机构）</span><span style="text-indent: 2em;">总部参加为期</span><span style="text-indent: 2em;">4周的规范化诊断思维培训。培训结束后回国协助中国医师协会放射医师分会开展全国放射科住院医师规范化培训所需培训师的培训工作。</span><span style="text-indent: 2em;">与美国放射学院（</span><span style="text-indent: 2em;">American College of Radiology ACR）合作把美国的培训模式引入中国，以便尽早开展中国放射科医师的规范化培训工作，提高放射科医师的诊断水平，为广大患者带来福祉。</span><span style="text-indent: 2em;">在此我们诚邀您参加</span><span style="text-indent: 2em;">2016项目的报名。<br>
                    <br>
                    <b>报名要求如下：</b><br>
                    &nbsp; &nbsp; 1、&nbsp;影像医学专业的医学博士学位；<br>
                    &nbsp; &nbsp; 2、&nbsp;年龄<span>35～45岁；</span><br>
                    &nbsp; &nbsp; 3、&nbsp;大型三甲教学医院从事<b>影像诊断</b>工作<span>5年以上；</span><br>
                    &nbsp; &nbsp; 4、&nbsp;具有副高以上专业技术职称；<br>
                    &nbsp; &nbsp; 5、&nbsp;具有一定的行政管理经验，科室主任、副主任等优先考虑；<br>
                    &nbsp; &nbsp; 6、&nbsp;在英语国家一年以上的留学或培训经历，能用英语进行交流；<br>
                    &nbsp; &nbsp; 7、&nbsp;担任《医学影像学》本科、研究生课程的主讲授课教师，给留学生授课者优先考虑；或参与国家级、省级本行业协会<span>/学会的继续教育培训讲师；</span>8、&nbsp;在本专业具有一定的科研能力；<br>
                    <br>
                    <b>报名方式如下：</b><br>
                    &nbsp; &nbsp; 1、候选人将电子版申请表（附件一）填写打印科室主任亲笔签名盖章扫描电子版发至中国医师协会放射医师分会设立项目专用邮箱：<b><span>car_cup2016@163.com</span></b>进行报名，<b>报名截止日期为：2016年6月30日</b>。<br>
                    &nbsp; &nbsp; 2、纸质版申请表及支撑材料请快递至：<br>
                    <b>&nbsp; &nbsp; 北京市东城区广渠门内大街<span>45号雍贵中心D座303室，攀登计划项目组收</span></b><br>
                    <b>&nbsp; &nbsp; 联系电话<span>;18500230303</span></b>。</span> <br>
                    <br>
                    &nbsp;&nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/doc.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201606/13/16-22-51-80-1.docx&amp;name=%E7%94%B3%E8%AF%B7%E8%A1%A8%EF%BC%88%E9%99%84%E4%BB%B6%E4%B8%80%EF%BC%89.docx" class="attach" rel="nofollow">申请表（附件一）.docx</a><br>
                    <br type="_moz">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                    title="中国医师协会放射医师分会年会暨第十届全国放射医师论坛">中国医师协会放射医师分会年会暨第十届全国放射医师论坛</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="中国医师协会住院医师规范化培训放射科专业委员会考察培训中心">中国医师协会住院医师规范化培训放射科专业委员会考察培训中心</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>