<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">“中国影像好医生”基层影像医生病例分析实战培训项目介绍</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：随着医疗改革在中国的逐步深入,基层医院设备的迅速改善,基层医生的诊断水平成为影响百姓本地就医的关键因素。为了配合国家保基本
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article"><p align="left">&nbsp;</p>
                    <p align="left">&nbsp;随着医疗改革在中国的逐步深入,基层医院设备的迅速改善,基层医生的诊断水平成为影响百姓本地就医的关键因素。为了配合国家“保基本，强基层，建机制”的医改重心，由中国医师协会放射医师分会，放射医师学院创办<a name="_GoBack" target="_blank"></a>，拜耳医药保健有限公司赞助的“中国影像好医生”项目将<span>3年内覆盖全国28个省市，自治区四，五级城市的基层地区</span>,旨在帮助基层影像医生掌握科学的临床诊断思维，提高临床诊断水平,促进疾病在本地的早诊断、早治疗。</p>
                    <p align="left">会议针对胸部，腹部，神经系统，心血管系统，乳腺，骨肌影像领域采用病例读片实战方式从<span>2012年11月15日项目启动，由放射医师学院带领的40位讲师走入基层，2013年度成功召开了锦州站，济宁站，德阳站，九江站，宜兴站，文山站，平顶山站，湛江站，乌鲁木齐站，延安站十场实战培训会，成绩斐然，覆盖培训近1400名学员，得到反馈学习效果极佳，广受好评。</span></p>
                    <p align="left">&nbsp;</p>
                    <p>&nbsp;2014年在郭启勇院长带领下讲师们召开了座谈会，大家认真学习和交流，将教学目标达成一致，课件形式统一，讲师们充分的准备，走入今年十一场实战培训。相信在大家的共同努力下，将最实用，最高效的方式帮助基层医生的成长。</p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_49.html"
                                    title="2014“西部放射医师继续教育项目”于西安启动">2014“西部放射医师继续教育项目”于西安启动</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_47.html"
                                    title="中国医师协会放射医师分会第三届委员会">中国医师协会放射医师分会第三届委员会</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>