<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中青年影像医生“攀登计划”2016项目第二轮遴选结果</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：2016年8月27日下午13:00在郑州嵩山饭店5号楼5楼进行了中青年影像医生攀登计划2016项目第二轮遴选面试环节的签到、面试顺序抽签、病例读片亚专业组题号抽签等环节。</div>
                <!-- <div class="conter">
                   
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                        <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97" title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html" title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                        </ul>
                        </div>
                </div> -->
                <div class="conter" id="article">
                    <div>
                        <p><span style="font-family: 宋体;"><span
                                    style="font-size: 20px;">欧美发达国家的住院医师规范化培训已经有非常成熟的模式，为了更好的学习发达国家的规培经验，使我们的放射科规培工作尽快步入正轨，由中华国际医学交流基金会与中国医师协会放射医师分会共同发起，江苏恒瑞医药股份有限公司独家支持的中青年影像医生“攀登计划”（Capacity
                                    Upgrading
                                    Program，简称CUP），旨在为中国医学影像领域培养具有规范化诊断思维能力的放射科住院医师规范化培训的培训师。该项目培训合作机构是美国放射学院（American
                                    College of Radiology ACR）。<br>
                                    <br>
                                    &nbsp;
                                    在第一轮遴选的基础上，2016年8月27日下午13:00-18:00在郑州嵩山饭店5号楼6楼会议室进行了中青年影像医生“攀登计划”2016项目第二轮遴选工作。在第二轮遴选评审的当天上午郭启勇会长从“攀登计划”评审委员会的专家中随机抽取了9位专家作为面试官参加第二轮遴选，并利用中午时间召开了“攀登计划”评审委员会的第二轮遴选工作会议。会上强调了面试纪律及评审要求，特别叮嘱大家要排除一切干扰因素，公平、公正的选出能够真正代表中国放射水平的医生代表协会赴美培训。面试开始前先在5楼会议室的面试等候区进行了候选人签到、面试顺序抽签、病例读片的亚专业组题号抽签。由于候选人个人原因有4人未能参加面试，面试现场实到26人。中国医师协会放射医师分会郭启勇会长、宋彬副会长到5楼面试等候区看望参加面试的候选人，郭院长强调了该项目对中国放射医生规培的意义，鼓励大家用最好的精神状态迎接面试，期待大家取得好成绩。<br>
                                    <br>
                                    &nbsp;
                                    整个面试环节采用全英语面试，满分为100分。分为自我介绍、问答、英语病例读片三个环节，评委评分中去掉一个最高分却掉一个最低分后取剩余评委平均分为候选人该轮成绩。<br>
                                    <br>
                                    &nbsp;
                                    经过8月27日下午紧张激烈的面试环节专家圆满完成了对入围中青年影像医生“攀登计划”2016项目第二轮遴选环节26位候选人的面试工作，组委会统计各候选人得分经各位评委复核确认得出候选人的面试成绩。当晚经项目专家委员会讨论确认无误后按照面试成绩从高到低排列录取15人将在2017年代表中国医师协会放射医师分会赴美参加培训。获得培训资格的15人名单已经在8月28中午中国医师协会放射医师分会2016年会闭幕式上正式公布，现将名单在网站予以公布：</span></span>
                        </p>
                    </div>
                    <span style="font-family: 宋体;"><span style="font-size: 20px;">
                            <div><br>
                                &nbsp; 娄&nbsp;昕&nbsp;女&nbsp;中国人民解放军总医院<br>
                                &nbsp; 刘亚欧&nbsp;男&nbsp;首都医科大学宣武医院<br>
                                &nbsp; 张&nbsp;冰&nbsp;女&nbsp;南京鼓楼医院<br>
                                &nbsp; 张立娜&nbsp;女&nbsp;中国医科大学附属第一医院<br>
                                &nbsp; 徐&nbsp;磊&nbsp;男&nbsp;首都医科大学附属北京安贞医院<br>
                                &nbsp; 孙洪赞&nbsp;男&nbsp;中国医科大学附属盛京医院<br>
                                &nbsp; 杨文洁&nbsp;女&nbsp;上海交通大学医学院附属瑞金医院<br>
                                &nbsp; 范&nbsp;丽&nbsp;女&nbsp;上海长征医院<br>
                                &nbsp; 姚&nbsp;晋&nbsp;女&nbsp;四川大学华西医院<br>
                                &nbsp; 朗&nbsp;宁&nbsp;女&nbsp;北京大学第三医院<br>
                                &nbsp; 吴飞云 &nbsp;女 &nbsp;江苏省人民医院<br>
                                &nbsp; 杨运俊&nbsp;男&nbsp;温州医科大学附属第一医院<br>
                                &nbsp; 黄&nbsp;涛 &nbsp;男&nbsp;哈尔滨医科大学附属第四医院<br>
                                &nbsp; 张红梅&nbsp;女&nbsp;中国医学科学院肿瘤医院<br>
                                &nbsp; 钱银锋&nbsp;男&nbsp;安徽医科大学第一附属医院<br>
                                <br>
                                &nbsp; 请以上入围候选人关注近期邮件，会有相关赴美交流需要的资料填写，请及时反馈以保证项目进度能够如期进行！<br>
                                &nbsp; <br>
                                &nbsp; 欢迎更多优秀的中青年影像医生积极参与“攀登计划”2017项目的报名遴选，为中国医学影像规范化培训贡献自己的力量。<br>
                                <br>
                                &nbsp;
                                感谢各位评审专家的辛苦付出，在大家共同努力之下选出了优秀的中青年医生代表中国赴美受训。由于时间紧任务重近5个小时的面试时间没有安排面试专家休息，全程的英语面试又让大家不得不保持高度注意力聆听候选人自我介绍以及构思合适的问题提问，对专家们的无私奉献再次衷心感谢！
                            </div>
                        </span></span><span style="font-size: 20px;">
                        <div>&nbsp;</div>
                    </span><span style="font-family: 宋体;"><span style="font-size: 20px;"> </span></span>
                    <div style="text-align: right;"><span style="font-family: 宋体;"><span
                                style="font-size: 20px;">中华国际医学交流基金会<br>
                                中国医师协会放射医师分会<br>
                                2016年8月29日星期一</span></span></div>
                    <div><span style="font-family: 宋体;"><span style="font-size: 20px;">&nbsp;</span></span></div>
                    <div><span style="font-family: 宋体;"><span style="font-size: 20px;">&nbsp;</span></span></div>
                    <br>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                    title="ACR Case in Point">ACR Case in Point</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="2016中国医师协会放射专业住院医师规范化培训师资培训班顺利召开">2016中国医师协会放射专业住院医师规范化培训师资培训班顺利召开</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>