<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中青年影像医生攀登计划第一轮遴选结果</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：中青年影像医生攀登计划2016项目报名通知自5月20日在中国医师协会放射医师分会网站及微信订阅号上发布后获得了广大中青年影像医生的积极支持，在短短的六周时间里全国有80余位三甲医院影像医生报名参与该项目选拔。
                </div>
                <!-- <div class="conter">
                   
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                        <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97" title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html" title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                        </ul>
                        </div>
                </div> -->
                <div class="conter" id="article">
                    <p>“中青年影像医生攀登计划”2016项目报名通知自5月20日在中国医师协会放射医师分会网站及微信订阅号上发布后获得了广大中青年影像医生的积极支持，在短短的六周时间里全国有80余位三甲医院影像医生报名参与该项目选拔。&nbsp;
                    </p>
                    <p>为了能够公平、公开、公正的选出符合条件的中青年影像医生赴美培训，经郭启勇会长提议成立“中青年影像医生攀登计划”项目专家指导委员会，由项目指导委员会专家成员负责候选人遴选工作。遴选分两轮进行，第一轮为网评环节，第二轮为面试环节。&nbsp;
                    </p>
                    <p>为公平计分在15位网评评委打分中去掉一个最高分去掉一个最低分后取13位评委的平均分为该候选人的最终得分，剔除年龄等不符合报名标准及每家单位只能有一人入围等因素后按照得分由高到低顺序选出30位候选人。&nbsp;
                    </p>
                    <p>8月25日-28日在郑州召开的中国医师协会放射医师分会年会暨第十届全国放射医师论坛期间将举行“中青年影像医生攀登计划”2016年项目第二轮遴选的面试环节。现将入围第二轮遴选面试环节名单公布如下（以姓名拼音排序）<br>
                        &nbsp;</p>
                    <p>艾&nbsp;涛&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1981.5&nbsp;&nbsp;&nbsp;&nbsp; 华中科技大学同济医学院同济医院
                    </p>
                    <p>蔡香然&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1974.11&nbsp;&nbsp; 暨南大学第一医院</p>
                    <p>陈&nbsp;薇&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1976.3&nbsp;&nbsp;&nbsp;&nbsp; 天津大学肿瘤医院</p>
                    <p>初建平&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1979.1&nbsp;&nbsp;&nbsp;&nbsp; 中山大学附属第一医院</p>
                    <p>丁忠祥&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1973.2&nbsp;&nbsp;&nbsp;&nbsp; 浙江省人民医院</p>
                    <p>范&nbsp;丽&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1980.11&nbsp;&nbsp; 上海长征医院</p>
                    <p>黄&nbsp;涛&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1979.11&nbsp;&nbsp; 哈尔滨医科大学附属第四医院</p>
                    <p>纪建松&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1975.1&nbsp;&nbsp;&nbsp;&nbsp; 丽水市中心医院</p>
                    <p>解学乾&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1977.2&nbsp;&nbsp;&nbsp;&nbsp; 上海市第一人民医院</p>
                    <p>朗&nbsp;宁&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1980.1&nbsp;&nbsp;&nbsp;&nbsp; 北京大学第三医院</p>
                    <p>李&nbsp;丹&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1975.07&nbsp;&nbsp; 吉林大学第一医院</p>
                    <p>刘学军&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1978.11&nbsp;&nbsp; 青岛大学医学院附属医院</p>
                    <p>刘亚欧&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1980.1&nbsp;&nbsp;&nbsp;&nbsp; 首都医科大学宣武医院</p>
                    <p>刘再毅&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 1975.3&nbsp;&nbsp; 广东省人民医院</p>
                    <p>娄&nbsp;昕&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1973.12&nbsp;&nbsp; 中国人民解放军总医院</p>
                    <p>钱银峰&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1973.11&nbsp;&nbsp; 安徽医科大学第一附属医院</p>
                    <p>曲金荣&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1975.8&nbsp;&nbsp;&nbsp;&nbsp; 河南省肿瘤医院</p>
                    <p>孙红赞&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1981.9&nbsp;&nbsp;&nbsp;&nbsp; 中国医科大学附属盛京医院</p>
                    <p>王&nbsp;芳&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1978.1&nbsp;&nbsp;&nbsp;&nbsp; 山东大学齐鲁医院</p>
                    <p>吴飞云&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1972.8&nbsp;&nbsp;&nbsp;&nbsp; 江苏省人民医院</p>
                    <p>吴光耀&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1972.5&nbsp;&nbsp;&nbsp;&nbsp; 武汉大学中南医院</p>
                    <p>武志芳&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1974.6&nbsp;&nbsp;&nbsp;&nbsp; 山西医科大学第一医院</p>
                    <p>徐&nbsp;磊&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1974.1&nbsp;&nbsp;&nbsp;&nbsp; 首都医科大学附属北京安贞医院</p>
                    <p>杨文洁&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1978.6&nbsp;&nbsp;&nbsp;&nbsp; 上海交通大学医学院附属瑞金医院</p>
                    <p>杨运俊&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1972.8&nbsp;&nbsp;&nbsp;&nbsp; 温州医科大学附属第一医院</p>
                    <p>姚&nbsp;晋&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1975.11&nbsp;&nbsp; 四川大学华西医院</p>
                    <p>张&nbsp;冰&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1974.6&nbsp;&nbsp;&nbsp;&nbsp; 南京鼓楼医院</p>
                    <p>张红梅&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1973.1&nbsp;&nbsp;&nbsp;&nbsp; 中国医学科学院肿瘤医院</p>
                    <p>张立娜&nbsp;&nbsp; 女&nbsp;&nbsp; &nbsp;&nbsp; 1978.5&nbsp;&nbsp;&nbsp;&nbsp; 中国医科大学附属第一医院</p>
                    <p>赵&nbsp;建&nbsp;&nbsp; 男&nbsp;&nbsp; &nbsp;&nbsp; 1974.7&nbsp;&nbsp;&nbsp;&nbsp; 河北医科大学附属第三医院<br>
                        &nbsp;</p>
                    <p>请上述候选人注意近期邮件或电话通知面试具体时间、地点、要求等细节。</p>
                    <p>另外：感谢第一轮评审专家的辛苦付出，近期各种学术活动非常多，各位专家克服了时间紧任务重等困难，高质量完成了评审任务，感谢大家对学会人才选拔工作的大力支持！<br>
                        &nbsp;</p>
                    <p align="right">中华国际医学交流基金会</p>
                    <p align="right">中国医师协会放射医师分会</p>
                    <p align="right">2016年7月27日星期三</p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97"
                                    title="全国放射规培基地名单（秘书）">全国放射规培基地名单（秘书）</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="第16届亚洲大洋洲放射学会年会（AOCR 2016）邀请函">第16届亚洲大洋洲放射学会年会（AOCR 2016）邀请函</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>