<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">“中青年影像医生攀登计划”第一轮遴选结</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：中国医师协会放射医师分会中青年影像医生攀登计划第一轮遴选结果中青年影像医生攀登计划通知自7月20日在中国医师协会放射医师分会网站发布之日起即获得了广大中青年影像医生的热情支持，在短短的三周时间里有74位中青年影像医生参与报名，其中67位按照要求提供了相关支撑材料。由于报名人数众多在南京举行的中国医师协会放射医师分会2015年会期间不能安排所有候选人逐一面试，
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article"><p class="MsoHeaderCxSpFirst" style="text-align: center;"><b><span style="font-size:16.0pt;font-family:微软雅黑;color:#004682">中国医师协会放射医师分会<span lang="EN-US"><o:p></o:p></span></span></b></p>
                    <p class="MsoHeaderCxSpLast" style="text-align: center;"><b><span style="font-size:16.0pt;font-family:微软雅黑;color:#004682">“中青年影像医生攀登计划”第一轮遴选结果<br>
                    <span lang="EN-US"><o:p></o:p></span></span></b></p>
                    <p style="text-align: center;"><img src="http://www.chinaradiologists.org/file/upload/201508/26/11-01-34-95-1.jpg" width="600" height="417" alt=""></p>
                    <p>“中青年影像医生攀登计划”通知自<span>7月20日在中国医师协会放射医师分会网站发布之日起即获得了广大中青年影像医生的热情支持，在短短的三周时间里有74位中青年影像医生参与报名，其中67位按照要求提供了相关支撑材料。由于报名人数众多在南京举行的中国医师协会放射医师分会2015年会期间不能安排所有候选人逐一面试，为了能够公平、公开、公正的选出中青年候选人代表中国赴美培训，经郭启勇会长提议成立“中青年影像医生攀登计划”2015年项目第一轮评审委员会对候选人提供的支撑材料进行网评打分。</span></p>
                    <p>为公平计分在评委打分中去掉一个最高分去掉一个最低分后取平均分为该候选人的最终得分，最后按照得分由高到低顺序选出<span>25人参加29日下午在南京的“中青年影像医生攀登计划”2015年项目第二轮面试。</span></p>
                    <p>同时为照顾到更多医院年轻医生参与本项目，经专家委员会研究决定每家医院只能有一位候选人进入第二轮面试，故此有单位出现两个成绩排名靠前的需要排除一人参与，敬请谅解！第一轮评审标准见附件所示。现将入围第二轮面试名单公布如下（以姓名拼音排序）</p>
                    <p>曹&nbsp;崑&nbsp;女&nbsp;北京大学肿瘤医院</p>
                    <p>查云飞&nbsp;男&nbsp;武汉大学人民医院</p>
                    <p>邓德茂&nbsp;男&nbsp;广西中医药大学第一附属医院</p>
                    <p>杜祥颖&nbsp;男&nbsp;首都医科大学宣武医院</p>
                    <p>李传明&nbsp;男&nbsp;第三军医大学西南医院</p>
                    <p>李飞宇&nbsp;男&nbsp;北京大学第一医院</p>
                    <p>李咏梅&nbsp;女&nbsp;重庆医科大学附属第一医院</p>
                    <p>李&nbsp;震&nbsp;男&nbsp;华中科技大学同济医学院附属同济医院</p>
                    <p>吕&nbsp;粟&nbsp;男&nbsp;四川大学华西医院</p>
                    <p>马&nbsp;恒&nbsp;男&nbsp;烟台毓璜顶医院</p>
                    <p>满凤媛&nbsp;女&nbsp;中国人民解放军第二炮兵总医院</p>
                    <p>孟晓春&nbsp;女&nbsp;中山大学附属第三医院</p>
                    <p>彭新桂&nbsp;女&nbsp;东南大学附属中大医院</p>
                    <p>邵海波&nbsp;男&nbsp;中国医科大学附属第一医院</p>
                    <p>石&nbsp;喻&nbsp;女&nbsp;中国医科大学附属盛京医院</p>
                    <p>孙夕林&nbsp;女&nbsp;哈尔滨医科大学附属第四医院</p>
                    <p>孙志华&nbsp;女&nbsp;天津医科大学总医院</p>
                    <p>王&nbsp;悍&nbsp;男&nbsp;上海交通大学附属第一人民医院</p>
                    <p>王梅云&nbsp;女&nbsp;河南省人民医院</p>
                    <p>王&nbsp;文&nbsp;男&nbsp;第四军医大学唐都医院</p>
                    <p>杨&nbsp;帆&nbsp;女&nbsp;华中科技大学同济医学院附属协和医院</p>
                    <p>杨&nbsp;虹&nbsp;女&nbsp;浙江大学附属第一医院</p>
                    <p>张&nbsp;蕾&nbsp;女&nbsp;同济大学附属东方医院</p>
                    <p>张瑞平&nbsp;男&nbsp;山西医科大学附属第一医院</p>
                    <p>朱&nbsp;力&nbsp;男&nbsp;宁夏医科大学总医院</p>
                    <p>请上述候选人注意近期邮件或电话通知面试具体时间、地点、要求等细节。</p>
                    <p>另外：感谢第一轮评审专家的辛苦付出，近期各种不同形式的会议活动频繁召开，各位专家克服了时间紧任务重，高质量完成了评审任务，十分感谢大家为学会的无私奉献！</p>
                    <p align="left">&nbsp;</p>
                    <p style="text-align: right;">中国医师协会放射医师分会</p>
                    <p style="text-align: right;">2015年<span>8月25日星期二<br>
                    <br type="_moz">
                    </span></p>
                    &nbsp;&nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/xls.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201508/26/10-56-07-44-1.xls&amp;name=%E6%94%80%E7%99%BB%E8%AE%A1%E5%88%92%E7%AC%AC%E4%B8%80%E8%BD%AE%E9%81%B4%E9%80%89%E8%AF%84%E5%88%86%E8%A1%A8-%E5%AE%9A%E7%A8%BF%E7%89%888-21.xls" class="attach" rel="nofollow">攀登计划第一轮遴选评分表-定稿版8-21.xls</a><br>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_34.html"
                                    title="中国医师协会放射医师分会中青年影像医生攀登计划">中国医师协会放射医师分会中青年影像医生攀登计划</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_32.html"
                                    title="2015中国医师协会放射医师年会通知">2015中国医师协会放射医师年会通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>