<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">《中国影像好医生病例集》发布会</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：《中国影像好医生病例集》发布会于2015年8月29日在南京中国医师协会放射医师分会年会暨第九届全国放射医师论坛开幕式环节顺利启动!中国医师协会放射医师分会郭启勇会长在开幕式环节，盛赞以拜耳公司为首的医药企业对中国影像事业的大力支持，包括中国医师协会前任会长蔡忠军，来自全国各地医师协会会员共计500位放射科医师参会!开展基层医生教育，助力医疗体制改革！
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">
                    <div style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201509/02/14-09-49-61-1.png" width="681"
                            height="339" alt=""></div>
                    <br>
                    <p>《中国影像好医生病例集》发布会于2015年8月29日在南京中国医师协会放射医师分会年会暨第九届全国放射医师论坛开幕式环节顺利启动!</p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201509/02/14-11-44-31-1.png" width="543"
                            height="374" alt=""></p>
                    <p>中国医师协会放射医师分会郭启勇会长在开幕式环节，盛赞以拜耳公司为首的医药企业对中国影像事业的大力支持，包括中国医师协会前任会长蔡忠军，来自全国各地医师协会会员共计500位放射科医师参会!</p>
                    <p>开展基层医生教育，助力医疗体制改革！</p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201509/02/14-14-22-44-1.png" width="532"
                            height="367" alt=""></p>
                    <p>《中国影像好医生病例集》发布会由南京军区总医院卢光明教授主持!首先，在致词中，卢教授阐述了《中国影像好医生病例集》发布的目的和社会意义。《病例集》是为了方便基层医生随时学习，汇聚了“中国影像好医生”项目的精华课程，选取优秀常见病、多发病病例，推出《病例集》，使之成为基层医生的口袋工具书，让更多的基层医生在提升专业的道路上得到更多更大的支持。
                    </p>
                    <p>“中国影像好医生”项目创新退出影像诊断思维实战培训</p>
                    <p>拜耳影像事业部亚太区总裁Bryan
                        Loo先生发表了致辞，为了配合国家“保基本，强基层，建机制”的医改重心，从2013年到2015年，“中国影像好医生”项目历时三年，覆盖全国28个省自治区，119位知名专家授课，23位资深院长参与其中，5800名基层影像科医生从中受益。“好医生”项目改变了以往单向的影像知识学习模式，通过创新的影像诊断思维训练，培养了一批具有临床诊断水平的基层影像医生。最直接最高效的帮助基层影像医生掌握科学的临床诊断思维，提高临床诊断水平。
                    </p>
                    <p>&nbsp;</p>
                    <p>致辞后，郭启勇会长和Bryan Loo先生共同为11位来自各省的医师协会委员代表授书。</p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201509/02/14-17-10-49-1.jpg" width="680"
                            height="232" alt=""></p>
                    <p>“中国影像好医生”项目立足创新！服务基层！</p>
                    <p>未来我们会在全国28个省自治区的基础上，覆盖更多的基层城市，希望更多的基层医生受益;同时，中国影像好医生为更好的将培训资源扩散到更多的城市和地区，让更多的基层医生能够在中国影像好医生项目中获益，有机会学习和提升自身的能力，创新推出“好医生网络大讲堂”项目。该项目利用网络传播的手段，实现点对点、点对面的实训讲解直播，在新的维度上开拓创新。覆盖广、传播快、建立起范围更广，深入更基层的中国影像好医生传播网;及时汇集优秀的常见病和多发病病例，不断推出新版本的“影像好医生病例集”，成为基层医生的口袋书。
                    </p>
                    <p>梦想给予我们激情，责任给予我们力量，点亮每一点，联动每一站。以不变的初衷、开启全新的征程。中国影像好医生项目正努力走向更远更为辉煌的未来。</p>
                    <p style="text-align: right;">拜耳医药保健R&amp;|亚太专业教育部</p>
                    <p style="text-align: right;">Professio<em></em>nal Education Asia Pacific. Radiology &amp;
                        Interventional.Bayer Healthcare</p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                    title="中国影像好医生病例集发布会">中国影像好医生病例集发布会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="“中青年影像医生攀登计划”第二轮遴选面试结果">“中青年影像医生攀登计划”第二轮遴选面试结果</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>