<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中青年影像医生“攀登计划”2017项目（第三期）第二轮遴选结果</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：经过8月26日下午紧张激烈的面试，专家们圆满完成了对入围中青年影像医生“攀登计划”2017项目第二轮遴选环节29位候选人的面试工作，组委会统计各候选人得分在面试现场经各位评委复核确认无误后按照面试成绩从高到低排列录取15人将在2018年3月份代表中国医师协会放射医师分会赴美参加培训。获得培训资格的15人名单已经在8月27中午中国医师协会放射医师分会2017年会闭幕式上正式公布，现将名单在网站予以公布
                </div>
                <div class="conter">
                    <h1 style="text-align: center;"><b>中华国际医学交流基金会</b></h1>
                    <h1 style="text-align: center;"><b>中国医师协会放射医师分会</b></h1>
                    <h1 style="text-align: center;"><b>中青年影像医生“攀登计划”2017项目（第三期）第二轮遴选结果</b></h1>
                    <br />
                    <br />
                    <p>欧美发达国家的住院医师规范化培训已经有非常成熟的模式，为了更好的学习发达国家的规培经验，使我们的放射科规培工作尽快步入正轨，由中华国际医学交流基金会与中国医师协会放射医师分会共同发起，江苏恒瑞医药股份有限公司独家支持的中青年影像医生“攀登计划”（Capacity
                        Upgrading Program，简称CUP），旨在为中国医学影像领域培养具有规范化诊断思维能力的放射科住院医师规范化培训的培训师。该项目培训合作机构是美国放射学院（American
                        College of Radiology ACR）。&nbsp;</p>
                    <p>“攀登计划”项目经过前两轮遴选已经有包含评审专家作为团长带队的31人接受了AIRP四周规范课程的培训，已经相继在去年的郑州年会及今年杭州年会上为全国住培基地培训师进行了相关领域疾病授课技巧的讲座，会场听课人员自始至终都是爆满状态，学习氛围浓厚，培训取得了空前的成功。学员们反馈听过这些课程以后队回到基地后如何开展住陪授课有了更深刻的体会，也会把学到的授课技巧带回自己所在住培基地进行推广。
                    </p>
                    <p>今年的第三期项目报名及遴选也受到了空前的关注，在第一轮遴选的基础上，于2017年8月26日下午13:00-18:00在杭州开元名都大酒店三楼名都厅7号会议室进行了中青年影像医生“攀登计划”2017项目（第三期）第二轮遴选工作。在第二轮遴选评审的当天上午郭启勇会长从“攀登计划”评审委员会的专家中随机抽取了7位能够全程参与评审的专家作为面试官参加第二轮遴选，并利用中午时间召开了“攀登计划”面试评审委员会的第二轮遴选工作会议。会上强调了面试纪律及评审要求，特别叮嘱大家要排除一切干扰因素，公平、公正的选出能够真正代表中国放射医生水平的候选人代表协会赴美培训。面试开始前先在名都厅6号会议室的面试等候区进行了候选人签到、面试顺序抽签、病例读片的亚专业组题号抽签。由于候选人个人原因有1人未能参加面试，面试现场实到29人。&nbsp;&nbsp;
                    </p>
                    <p>整个面试环节采用全英语面试，满分为100分。分为自我介绍、英语病例读片、问答三个环节，评委评分中去掉一个最高分却掉一个最低分后取剩余评委平均分为候选人该轮成绩。&nbsp;&nbsp;</p>
                    <p>经过8月26日下午紧张激烈的面试，专家们圆满完成了对入围中青年影像医生“攀登计划”2017项目第二轮遴选环节29位候选人的面试工作，组委会统计各候选人得分在面试现场经各位评委复核确认无误后按照面试成绩从高到低排列录取15人将在2018年3月份代表中国医师协会放射医师分会赴美参加培训。获得培训资格的15人名单已经在8月27中午中国医师协会放射医师分会2017年会闭幕式上正式公布，现将名单在网站予以公布（按照姓氏拼音排序）：&nbsp;&nbsp;
                    </p>
                    <table width="700" border="1" cellspacing="0">
                        <tbody>
                            <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:25.7pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:25.7pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">姓名</span></p>
                                </td>
                                <td style="width:42.55pt;border:solid windowtext 1.0pt;            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:            solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:25.7pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">性别</span></p>
                                </td>
                                <td style="width:8.0cm;border:solid windowtext 1.0pt;            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:            solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:25.7pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">单位</span></p>
                                </td>
                                <td style="width:3.0cm;border:solid windowtext 1.0pt;            border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:            solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:25.7pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">职称</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:1;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">蒋<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>涛</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">第二军医大学附属上海长海医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:2;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">李若坤</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">上海交通大学医学院附属瑞金医院
                                        </span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:3;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">李<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>震</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">华中科技大学附属同济医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:4;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">刘 <span
                                                style="mso-spacerun:yes">&nbsp;</span>辉</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">广东省人民医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:5;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">刘<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>屹</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">中国医科大学附属第一医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:6;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">任 <span
                                                style="mso-spacerun:yes">&nbsp;</span>静</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">第四军医大学西京医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:7;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">任<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>莹</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">中国医科大学附属盛京医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:8;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">隋滨滨</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">首都医科大学附属北京天坛医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:9;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">吴 <span
                                                style="mso-spacerun:yes">&nbsp;</span>卓</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">中山大学孙逸仙纪念医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:10;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">邢<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>妩</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">中南大学湘雅医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:11;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">徐丽莹</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">武汉大学中南医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:12;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">徐<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>怡</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">江苏省人民医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:13;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">叶晓丹</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">女</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">上海交通大学附属胸科医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:14;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">月<span
                                                lang="EN-US"><span style="mso-spacerun:yes">&nbsp;
                                                </span></span>强</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">四川大学华西医院</span>
                                    </p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                            <tr style="mso-yfti-irow:15;mso-yfti-lastrow:yes;height:15.0pt">
                                <td style="width:56.45pt;border:solid windowtext 1.0pt;            border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;            padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="83" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">张景峰</span></p>
                                </td>
                                <td style="width:42.55pt;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="63" valign="top" nowrap="">
                                    <p class="MsoNormal" style="text-align:center" align="center"><span
                                            style="font-size:14.0pt;font-family:仿宋">男</span></p>
                                </td>
                                <td style="width:8.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="334" valign="top" nowrap="">
                                    <p class="MsoNormal"><span
                                            style="font-size:14.0pt;font-family:仿宋">浙江大学医学院附属第一医院</span></p>
                                </td>
                                <td style="width:3.0cm;border-top:none;            border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;            mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;            mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"
                                    width="125" valign="top" nowrap="">
                                    <p class="MsoNormal"><span style="font-size:14.0pt;font-family:仿宋">副主任医师</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- <p>请上述候选人注意近期邮件通知面试具体时间、地点、要求等细节。</p> -->
                    <p>请以上入围候选人关注近期邮件，会有相关赴美交流需要的资料填写，请及时反馈以保证项目进度能够如期进行！</p>
                    <p>欢迎更多优秀的中青年影像医生积极参与“攀登计划”2018项目（第四期）的报名遴选，为中国医学影像住院医师规范化培训工作贡献自己的力量。</p>
                    <p>感谢7位评审专家的辛苦付出，在大家共同努力之下选出了优秀的中青年影像医生代表中国赴美受训。由于时间紧任务重近5个小时的面试时间没有安排面试专家休息，全程的英语面试又让大家不得不保持高度注意力聆听候选人自我介绍以及构思合适的问题提问，对专家们的无私奉献再次衷心感谢！
                    </p>
                    <p align="right">中华国际医学交流基金会</p>
                    <p align="right">中国医师协会放射医师分会</p>
                    <p align="right">2018年5月7日</p>
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_3.html"
                                    title="中国医师协会第十二次放射医师年会">中国医师协会第十二次放射医师年会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_1.html"
                                    title="中青年影像医生“攀登计划”第一轮遴选结果">中青年影像医生“攀登计划”第一轮遴选结果</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中青年影像医生“攀登计划”第一轮遴选结果"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中青年影像医生“攀登计划”第一轮遴选结果">中青年影像医生“攀登计划”第一轮遴选结果</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中青年影像医生“攀登计划”第四期第一轮遴选结果</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>