<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">2016年住院医师规范化培训评估指标——放射科专业基地</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <!-- <div class="conter" id="article">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                    title="住培心得——放射规培路漫漫，吾将上下而求索">住培心得——放射规培路漫漫，吾将上下而求索</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="2016年住院医师规范化培训评估指标——放射科专业基地">2016年住院医师规范化培训评估指标——放射科专业基地</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="conter" id="article">&nbsp;
                    <img
                        src="http://www.chinaradiologists.org/file/upload/201606/20/09-54-42-16-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-54-59-22-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-55-13-47-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-55-27-23-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-55-58-81-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-56-11-99-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-56-24-50-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-56-36-77-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-57-24-46-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-57-34-50-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-57-47-98-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-57-57-87-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-08-82-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-16-51-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-26-78-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-35-92-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-43-56-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-58-52-56-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-02-73-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-09-62-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-18-51-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-30-81-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-41-40-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/09-59-51-58-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-01-50-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-12-39-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-23-71-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-33-19-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-45-30-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-00-56-35-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-01-06-21-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-01-15-25-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-01-26-60-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-01-37-31-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    <img src="http://www.chinaradiologists.org/file/upload/201606/20/10-01-50-26-1.jpg" width="716"
                        height="537" alt="" title="点击打开原图"><br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
                    &nbsp; &nbsp; &nbsp; &nbsp;<br>
                    <br type="_moz">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_22.html"
                                    title="中美交流里程碑，放射住培新纪元 ——记中国放射医师协会与美国放射学院在华盛顿的双边会晤">中美交流里程碑，放射住培新纪元 ——记中国放射医师协会与美国放射学院在华盛顿的双边会晤</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_20.html"
                                    title="攀登计划报名截止通知">攀登计划报名截止通知</a>
                            </li>
                        </ul>
                    </div>
                </div>   
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>