<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中国医师协会放射医师分会 第二期“攀登计划”AIRP培训第二周周报</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">核心提示：经过第一周的积极调整，大家已完全适应了AIRP紧凑的培训课程和在美的生活，第二周的学习、生活明显渐入佳境。全体攀登二期学员于AIRP培训主会场AFI
                    THEATER门口合影这一周的培训课程仍然是排得满满的</div>
                <!-- <div class="conter">
                   
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                        <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97" title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html" title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                        </ul>
                        </div>
                </div> -->
                <br>
                <div class="conter" id="article">&nbsp;
                    &nbsp;&nbsp;<b>经过第一周的积极调整，大家已完全适应了AIRP</b><b>紧凑的培训课程和在美的生活，第二周的学习、生活明显渐入佳境。</b>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201704/01/13-01-14-77-1.jpg" width="716"
                            height="537" alt="" title="点击打开原图"></p>
                    <p align="center"><b>全体攀登二期学员于</b><b>AIRP</b><b>培训主会场</b><b>AFI THEATER</b><b>门口合影</b></p>
                    <p>这一周的培训课程仍然是排得满满的：2017/3/20周一，Dr. Galvin和Dr.
                        Kligerman给我们带来了肺部和纵隔病变的精彩讲解，尤其是Galvin的课程精彩纷呈，漂亮的课件、生理学-病理学-影像学的递进式讲解让人耳目一新，受益非浅；他也被我们中国学员公认为AIRP第二位“授课大神”（我们接触的第一位“授课大神”是骨肌专家Dr.
                        Murphey）。2017/3/21周二，Dr. Galvin继续给我们呈上肺部肿瘤和淋巴病变的大餐；Dr. Dilsizian和Dr.
                        Kligerman分别给我们讲解了核医学和分子影像在心血管系统影像的应用价值，冠状动脉的解剖、病理及冠心病影像诊断；Dr.
                        Lichtenberger则详细介绍了胸膜病变；最后的Panel环节更是精彩，Dr.
                        Galvin主持病理讨论，病理医生、影像医生主讲，全体学员与参与其中，实战性与互动性俱佳，将我们一天的学习热情推向了高潮。2017/3/22周三，Dr. Frazier、Dr.
                        Sena、Dr. White和Dr. Ho依次给我们讲解了肺动脉高压、胸部血管性疾病、肺部转移瘤、先天性心脏病和冠心病相关影像、病理学。中午的午餐会Dr.
                        Muroff给美方学员介绍“如何评估放射专业的执业工作机会”，我们中国军团的学员出于了解美国同行业的强烈愿望，也全部留在会场听讲。随着Muroff讲解的深入，我们发现美国对放射医师的要求与我国基本一致，如强调“努力工作、学习意愿、团队精神”等。2017/3/23周四，Dr.
                        Siegel、Dr. Shah、Dr. Jeudy和Dr.
                        Frazier分别重点讲述了新生儿肺部疾病、先天性肺部畸形、心脏瓣膜疾病、心脏肿瘤、心包疾病，以及胸主动脉病变。2017/3/24周五，虽然一周的学习进入了尾声，但课程更加精彩。有一位“大神”讲师今日登场，而且是以为“女神”，她就是腹部影像专家Dr.
                        Manning，她以两个课时把原发性肝脏肿瘤清晰的给大家梳理了一遍，令人记忆犹新。Dr. Siegel、Dr. Marko和Dr.
                        Fink随后分别讲解了儿童肾脏和肾上腺肿瘤、儿童盆腔肿瘤、腹膜后病变、胆道影像和甲状腺影像。</p>
                    <p>学习的课间，我们中国学员有时相互讨论、有时与国外同行交流、有时请教讲师，大家在相互促进中共同提高，在共同学习中增进友情，对这来之不易的学习机会异常珍惜，也立志回国后为中国放射医师的规范化培训和与国际接轨贡献自己的点滴力量。
                    </p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201704/01/13-01-32-76-1.jpg" width="716"
                            height="537" alt="" title="点击打开原图"></p>
                    <p align="center"><b>精彩纷呈的</b><b>Thoracic Panel</b><b>病例讨论</b></p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201704/01/13-01-48-66-1.jpg" width="716"
                            height="537" alt="" title="点击打开原图"></p>
                    <p align="center"><b>攀登二期学员课间讨论交流学习内容</b></p>
                    <p>经过二周的共同生活，攀登二期学员已相互了解，建立了深厚的友谊。安徽医科大学第一附属医院钱银锋教授每每热情的给大家分享课件和学习心得，被大家推选为“学习委员”，第四军医大学唐都医院王文教授在课后热情的组织指导大家参与体育锻炼，被大家推选为“体育委员”。这种张弛有序的学习生活，减轻了我们对家人的思念，使得大家有更饱满的信心、俱佳的精神和身体状态投入和完成全部四周的学习。我们每个人都坚信这四周的学习生活必然会帮助我们开阔眼界、提升业务水平和讲课能力，也让我们更加有信心向中国的放射住院医师传授知识、传递正能量，更好的完成放射医师协会交予我们的任务，为中国放射事业的发展作出我们的点滴贡献。
                    </p>
                    <p style="text-align: center;">&nbsp;<img
                            src="http://www.chinaradiologists.org/file/upload/201704/01/13-01-59-36-1.jpg" width="716"
                            height="994" alt="" title="点击打开原图"></p>
                    <p align="center"><b>攀登二期学员积极向上的课余生活</b></p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;</p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </b><b>攀登二期二组学员：</b></p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </b><b>王&nbsp;</b><b>悍（上海市第一人民医院） </b></p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </b><b>徐&nbsp;</b><b>磊（北京安贞医院）</b></p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </b><b>杨文洁（上海瑞金医院）</b></p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </b><b>范&nbsp;</b><b>丽（上海长征医院）</b></p>
                    <p style="text-align: right;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            2017/3/24</b><b>于美国马里兰州银泉市</b></p>
                    <div style="text-align: right;">&nbsp;</div>
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_12.html"
                                    title="青春策马 不负韶华 ---“攀登计划“第二期赴美参加AIRP第三周体会">青春策马 不负韶华 ---“攀登计划“第二期赴美参加AIRP第三周体会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_14.html"
                                    title="“攀登计划”第二期赴美参加AIRP第一周体会">“攀登计划”第二期赴美参加AIRP第一周体会</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>