<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">“中青年影像医生攀登计划”第二轮遴选面试结果</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：中国医师协会放射医师分会中青年影像医生攀登计划第二轮遴选面试结果中青年影像医生攀登计划是由中国医师学会放射医师分会发起、江苏恒瑞医药股份有限公司独家支持的旨在为中国医学影像领域培养具有较好临床能力和卓越领导力的影像学专家的培训项目，培训合作机构是美国放射学院（American
                    College of Radiology, ACR）。经评选通过的候选人将在美国接受为期4-6周关于规范临床
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">
                    <div style="text-align: center;"><span
                            style="color: rgb(0, 102, 204);">&nbsp;<b>中国医师协会放射医师分会</b></span></div>
                    <p style="text-align: center;"><span
                            style="color: rgb(0, 102, 204);"><b>“中青年影像医生攀登计划”第二轮遴选面试结果</b></span></p>
                    <p>“中青年影像医生攀登计划”是由中国医师学会放射医师分会发起、江苏恒瑞医药股份有限公司独家支持的旨在为中国医学影像领域培养具有较好临床能力和卓越领导力的影像学专家的培训项目，培训合作机构是美国放射学院（<span>American
                            College of Radiology,
                            ACR）。经评选通过的候选人将在美国接受为期4-6周关于规范临床诊断思维及相关管理能力的培训。学成之后，学员们将作为骨干讲师，参与到中国医师学会放射医师分会组织的各种培训活动（包括规范化住院医师培训）中来，发挥重要的“培训师”作用。</span>
                    </p>
                    <p>为了能够公平、公开、公正的选出中青年候选人代表中国赴美培训，经郭启勇会长提议成立“中青年影像医生攀登计划”<span>2015年项目专家指导委员会，专名单如下：</span></p>
                    <p><b>主&nbsp;任：郭启勇</b></p>
                    <p><b>副主任：滕皋军、刘士远、宋 彬</b></p>
                    <p><b>委&nbsp;员：程晓光、冯 逢、洪 楠、居胜红、卢再鸣、吕 滨、王霄英、严福华</b></p>
                    <p><b>秘&nbsp;书：卢再鸣（兼）</b></p>
                    <p>2015年项目候选人遴选分两轮进行：第一轮遴选通过网评评分环节，根据候选人提交支撑材料进行评分，满分<span>105分（研究生导师作为加分项），评委评分中去掉一个最高分去掉一个最低分后取剩余评委平均分为候选人的该轮成绩，按照得分从高到低的顺序选出25人进入第二轮遴选面试环节；第二轮遴选全英语面试环节满分为100分，自我介绍以及问答环节各占50分，评委评分中去掉一个最高分却掉一个最低分后取剩余评委平均分为候选人该轮成绩。候选人最终成绩=第一轮成绩*0.3+第二轮成绩*0.7，按照总成绩由高到低排列。</span>
                    </p>
                    <p>经过<span>8月29日下午紧张激烈的面试环节专家圆满完成了对入围<a name="OLE_l<em></em>ink1"
                                target="_blank">“中青年影像攀登计划”</a>2015年项目第二轮遴选面试环节的25位候选人的面试工作，组委会统计各候选人得分经各位评委复核确认得出候选人的面试成绩。按照录取规则与第一轮面试成绩结合后统计出所有候选人的最终总成绩。经项目专家委员会讨论确认无误后按照总成绩从高到低排列录取15人赴美参加培训。获得培训资格的15人名单已经在8月30日中国医师协会放射医师分会2015年会闭幕式上正式宣布，现将名单在网站予以公布：</span>
                    </p>
                    <p>吕&nbsp;粟&nbsp;男&nbsp;四川大学华西医院</p>
                    <p>王梅云&nbsp;女&nbsp;河南省人民医院</p>
                    <p>王&nbsp;文&nbsp;男&nbsp;第四军医大学唐都医院</p>
                    <p>杨&nbsp;帆&nbsp;女&nbsp;华中科技大学同济医学院附属协和医院</p>
                    <p>杜祥颖&nbsp;男&nbsp;首都医科大学宣武医院</p>
                    <p>孙夕林&nbsp;女&nbsp;哈尔滨医科大学附属第四医院</p>
                    <p>王&nbsp;悍&nbsp;男&nbsp;上海交通大学附属第一人民医院</p>
                    <p>石&nbsp;喻&nbsp;女&nbsp;中国医科大学附属盛京医院</p>
                    <p>张&nbsp;蕾&nbsp;女&nbsp;同济大学附属东方医院</p>
                    <p>满凤媛&nbsp;女&nbsp;中国人民解放军第二炮兵总医院</p>
                    <p>查云<a name="_GoBack" target="_blank"></a>飞&nbsp;男&nbsp;武汉大学人民医院</p>
                    <p>孟晓春&nbsp;女&nbsp;中山大学附属第三医院</p>
                    <p>曹&nbsp;崑&nbsp;女&nbsp;北京大学肿瘤医院</p>
                    <p>邵海波&nbsp;男&nbsp;中国医科大学附属第一医院</p>
                    <p>彭新桂&nbsp;女&nbsp;东南大学附属中大医院</p>
                    <p>&nbsp;</p>
                    <p>该项目将作为中国医师协会放射医师分会与恒瑞公司合作的长期项目。根据美方接收能力，每年分期分批送出优秀候选人赴美受训。我们诚挚欢迎更多优秀的中青年影像医生积极参与<span>2016项目的报名遴选，为提升我国基层医院放射医师的影像诊断能力做出自己的贡献。</span>
                    </p>
                    <p align="right">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p align="right">&nbsp;</p>
                    <p align="right">中国医师协会放射医师分会</p>
                    <p align="right">2015年<span>8月31日</span></p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_19.html"
                                    title="《中国影像好医生病例集》发布会">《中国影像好医生病例集》发布会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="2015中国放射住院医师规范化培训七方峰会">2015中国放射住院医师规范化培训七方峰会</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>