<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">显微CT之肺部低剂量筛查统治地位——写给拥有这台神器的用户</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：对于胸部疾病的检查，一直是CT的优势所在，主要得益于CT高的空间分辨率和密度分辨率，但是相对于MRI，传统CT的软组织分辨率是需要进一步提升的，而且CT检查带来的辐射危害也越来越成为不可忽视的问题。基于这些问题飞利浦一直在引领着新的CT技术研发，百兆影像链、显微平台的出现在提升CT传统优势（空间分辨率和密度分辨率）的同时更弥补了CT的不足，它不但又提升了CT的软组织
                </div>
                <div class="conter">
                    <!-- <h1 style="text-align: center;"><b>中华国际医学交流基金会</b></h1>
                    <h1 style="text-align: center;"><b>中国医师协会放射医师分会</b></h1>
                    <h1 style="text-align: center;"><b>中青年影像医生“攀登计划”第四期第一</b><b>轮遴选结果</b></h1> -->
                    <br>
                    <span style="color: rgb(62, 62, 62); font-family: " helvetica=""
                        sans="">对于胸部疾病的检查，一直是CT的优势所在，主要得益于CT高的空间分辨率和密度分辨率，但是相对于MRI，传统CT的软组织分辨率是需要进一步提升的，而且CT检查带来的辐射危害也越来越成为不可忽视的问题。基于这些问题飞利浦一直在引领着新的CT技术研发，百兆影像链、显微平台的出现在提升CT传统优势（空间分辨率和密度分辨率）的同时更弥补了CT的不足，它不但又提升了CT的软组织分辨率且大大降低了辐射剂量，这就决定了显微CT对于肺部筛查的统治地位。<br>
                        <img src="/web/images/newsTrends/09-05-24-71-1.jpg" width="482"
                            height="361" alt=""><img
                            src="http://www.chinaradiologists.org/file/upload/201705/21/09-05-34-86-1.jpg" width="422"
                            height="238" alt=""><br>
                    </span>
                    <span
                        style="color: rgb(124, 189, 42); font-family: 宋体; font-size: 18px;">百兆影像链：双倍数据采集和四倍像素解析=8倍信息量<br>
                        <img src="/web/images/newsTrends/09-06-10-60-1.jpg" width="581"
                            height="412" alt=""><br>
                    </span>
                    <div>
                        <font color="#7cbd2a" face="宋体"><span style="font-size: 18px;"><img
                                    src="/web/images/newsTrends/09-06-26-33-1.jpg"
                                    width="480" height="360" alt=""><br>
                            </span></font><span
                            style="color: rgb(124, 189, 42); font-family: 宋体; font-size: 18px;">显微平台：2.7倍组织分辨率和非线性“零”噪声成像=图像磁共振化<br>
                        </span><span style="color: rgb(62, 62, 62); font-family: " helvetica="" sans="">&nbsp; &nbsp;
                            对于胸部，肺结节的鉴别诊断是影像界永恒的话题，更多的筛查和更高的分辨率带来了更高的检出率，但同时却给临床诊断带来极大的难题并给患者带来更大的心理、经济负担。肺结节在CT上的表现是多样性的，这决定了随访和处理的方案的纷多繁杂，因此对于肺结节的精准分析和分类就更加重要。&nbsp;</span>
                        <font color="#7cbd2a" face="宋体"><span style="font-size: 18px;"><br>
                                <img src="/web/images/newsTrends/09-07-08-51-1.jpg"
                                    width="640" height="337" alt=""><br>
                            </span></font>
                        <p style="margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: "
                            helvetica="" sans="" border-box="">portant; word-wrap: break-word
                            !im<em></em>portant;"&gt;&nbsp; &nbsp;
                            显微CT在继承了飞利浦一脉相承的百兆影像链的同时更增加了独有的显微平台，能够在极限低的剂量下实现传统CT21.6倍的对比度，堪比磁共振图像（无辐射和高软组织对比度），这给肺结节筛查带来了前所未有的变革。
                        </p>
                        <div><img src="/web/images/newsTrends/09-07-40-78-1.jpg"
                                width="513" height="513" alt=""><br>
                            <img src="/web/images/newsTrends/09-07-51-42-1.jpg"
                                width="640" height="564" alt=""><br>
                            <p style="margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: "
                                helvetica="" sans="" border-box="">portant; word-wrap: break-word
                                !im<em></em>portant;"&gt;常规CT和超高分辨率扫描+1024矩阵重建的对比体现了</p>
                            <p style="margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: "
                                helvetica="" sans="" border-box="">portant; word-wrap: break-word
                                !im<em></em>portant;"&gt;百兆影像链的价值：8倍信息量图像更清晰<br>
                                <img src="/web/images/newsTrends/09-08-12-50-1.jpg"
                                    width="511" height="564" alt=""><br>
                                <img src="/web/images/newsTrends/09-08-25-51-1.jpg"
                                    width="510" height="564" alt=""><br>
                                <span style="text-indent: 2em;">80kV50mAs=0.5mSv辐射下常规CT和显微CT的对比体现了<br>
                                </span><span style="text-indent: 2em;">显微平台的价值：堪比磁共振图像（微辐射和高软组织对比度），病灶无处遁形。</span></p>
                            <div id="img-content" style="margin: 0px; padding: 0px; font-family: " helvetica="" sans="">
                                <div class="rich_media_co<em></em>ntent " id="js_content"
                                    style="margin: 0px; padding: 0px; overflow: hidden; color: rgb(62, 62, 62); min-height: 350px; position: relative;">
                                    <p
                                        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !im<em></em>portant; word-wrap: break-word !im<em></em>portant; clear: both; min-height: 1em;">
                                        <br>
                                        &nbsp; &nbsp;
                                        显微CT独有的显微平台和一脉相承的百兆影像链在保持CT自身优势的前提下更弥补了传统CT的不足，同时提高了图像的空间分辨率、密度分辨率和软组织分辨率，更大大降低了辐射剂量，为临床带来了21.6倍的对比度的微辐射高清图像，这种优异的表现不仅大大提高了扫描成功率而不会遗漏肺结节（“绝不会漏掉肺小结节”的言论出自北京国家级重点医院显微CT用户），也带给临床更高的诊断成功率。这就是显微CT，它对于肺部筛查毫无疑问是最佳的选择。
                                    </p>
                                    <div>&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_9.html"
                                    title="2017中国医师协会放射医师年会暨第十一届全国放射医师论坛第二轮会议通知">2017中国医师协会放射医师年会暨第十一届全国放射医师论坛第二轮会议通知</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_11.html"
                                    title="攀登计划(CUP)”第二期赴美参加AIRP体会（Part 4）">攀登计划(CUP)”第二期赴美参加AIRP体会（Part 4）</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中青年影像医生“攀登计划”第四期第一轮遴选结果</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>