<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">第十七届全国介入心脏病学论坛在兰州成功举办</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：　　2014年4月18日至20日由中国医师协会、中华医学会心血管病学分会、中国医师协会心血管内科医师分会、中国医学基金会、中国介
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article"><p>　　2014年4月18日至20日由中国医师协会、中华医学会心血管病学分会、中国医师协会心血管内科医师分会、中国医学基金会、中国介入心脏病学杂志主办，兰州大学第一医院承办，北京力生心血管健康基金会、北京麦迪卫康广告有限公司协办的第十七届全国介入心脏病学论坛在甘肃兰州成功举办。</p>
                    <p>　　本届论坛继续秉承推广、规范、提高的办会宗旨，在过去的十六届中，论坛足迹遍及了国内的许多城市，为我国心血管专业人才的培训提供了较好的学术交流平台，极大的推动了介入心脏病学在中国的普及与推广，缩小了与世界先进水平的差距。</p>
                    <p>　　此次论坛参会人数达3000之多。甘肃省政协副主席栗震亚、甘肃省卫生和计划生育委员会主任、党组书记刘维忠、中国医师协会常务副会长兼秘书长杨民、甘肃省医师协会会长蔡曦光、中国医学基金会副理事长兼秘书长张任尧莅临指导。论坛内容紧密围绕卫生部心血管内科专科医师及介入医师培训工作，突出基础知识、基本技能的培训，理论学习和指南解读、病例总结和分享，突出规范化和实用性，提高了广大青年介入医师的基本功。形式上设有专题讲座、病例讨论、手术实况转播、卫星会、专场会、护理培训课程等，同时设置了直播间，备受专家的关注和喜爱，新闻发布中心也方便了参会者第一了解最新的信息，如中国STEMI救治项目新闻发布，中国胸痛中心认证新闻发布，冠脉介入、心律失常介入、先心病介入等全国数据发布以及中国冠脉介入治疗30年新闻发布会等，此外，开通了介入论坛微官网，方便了参会者查看日程和选择相应的会场进行聆听，会场采用幻灯传输管理系统，实现分会场讲座日程自动更新和幻灯的自动播放、录制和转播，提升了会议现场管理水平和效率。与会议期间，4月20日，甘肃省心血管年会也顺利召开，积极带动了当地心血管介入专业人才的培养工作。</p>
                    <p>　　在大家的共同努力下，在各位专家的大力支持下，第十七届全国介入心脏病学论坛于4月20日顺利落下帷幕。本届论坛积极推动了甘肃省介入心脏病学领域的普及与发展，加强了甘肃省心血管介入领域专业人才的培养工作，是一次成功的全国性心血管介入领域学术盛会。</p>
                    <p>　　2015年第十八届全国介入心脏病学论坛将于2015年4月25-26日在贵阳举办。</p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_53.html"
                                    title="2014中国超声医学学术大会在京召开">2014中国超声医学学术大会在京召开</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_51.html"
                                    title="第三届中国核医学医师年会召开">第三届中国核医学医师年会召开</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>