<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">中国医师协会放射医师分会2014年会在羊城召开</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：“影像医学的特点决定该领城的工作者不但是个医学家，同时是个理工学家，最好还是个社会学家。”8月22-24日，由中国医师协会主办的中国医师协会放射医师分会2014年会暨第八届全国放射医师论坛在广州召开。
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article"><p><span style="font-size: 18px; "><strong>&nbsp;影像医生：医学家+理工学家+社会学家</strong></span></p>
                    <p>“影像医学的特点决定该领城的工作者不但是个医学家，同时是个理工学家，最好还是个社会学家。”8月22-24日，由中国医师协会主办的中国医师协会放射医师分会2014年会暨第八届全国放射医师论坛在广州召开。</p>
                    <p style="text-align: center; "><img src="http://www.chinaradiologists.org/file/upload/201409/11/16-31-47-64-1.jpg" width="716" height="339" alt="" title="点击打开原图"></p>
                    <p>中华医学会放射学分会主任委员冯晓源教授认为，未来的形像科医生应对本学科的知识梢通，同时对本世纪医学训练不可缺少的知识也能掌握。</p>
                    <p>为了加强队伍建设，8年来中国医师协会放射医师分会在前任会长周诚教授和现任会长郭启勇教授的带领、全体委员及专家的支持下，扎扎实实开展了许多卓有成效的工作。对此，中国医师协会张雁灵会长给予充分肯定:第一放射医师分会注重“打基础”。重视组织建设，积极发展会员，拓展和发展分会二级机构。第二，注重“立规矩.。重视建章立制、制定指南，使得工作更加规范。第三，注重“抓培训”这也是放射医师分会的特色。分会尤其注里西部、基层放射医师培训，专门成立“中国放射医师学院”，举办“送春风”、“西部行”、“形像好医生”和基层医师核磁培训等项目，为西部和基层的放射医师人才培养作出了里要贡献。张会长指出，放射医师分会应搭建一个覆盖全体放射医师的探讨、学习、交流平台，面向世界、接轨国际;做好两个重点工作，即服务协调与维权自律工作。</p>
                    <p>针对本届委员会的工作计划，郭启勇会长介绍，从五方面开展工作:一是制作和发布中国医师协会放射医师分会、中国放射医师学院标识。二是建立运行有效、有影响力的学习交流信息化平台。完善培训体系、年会体系及运行规则。三是盘点放射医师和技师的队伍状态、设备分布等，该项任务艰巨但具有非常里要的意义。四是壮大放射医师队伍，打造放射医师之家。五是与我国香港地区以及日本、美国、欧洲国家等的医师协会会晤、建立联系，推进全国性、国际性交流合作，形成别具特色的模式。</p>
                    <p>大会围绕医学形像学最新发展动向，着重于放射医师的基础知识更新教育、医疗质最控制和学科管理人才建设等方面展开研讨，使专科特点鲜明呈现。<br>
                    <span style="font-family: Arial; line-height: 23px; text-indent: 0px; "><br>
                    放射医师分会年会报道终版PDF：<br>
                    </span>&nbsp;<a href="http://www.chinaradiologists.org/file/upload/pdf/373-21.pdf">http://www.chinaradiologists.org/file/upload/pdf/373-21.pdf</a>&nbsp;<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
                    <a href="http://www.chinaradiologists.org/file/upload/pdf/373-22.pdf ">&nbsp;http://www.chinaradiologists.org/file/upload/pdf/373-22.pdf&nbsp;</a></p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_47.html"
                                    title="中国医师协会放射医师分会第三届委员会">中国医师协会放射医师分会第三届委员会</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_45.html"
                                    title="中国医师协会放射医师分会开展全国放射设备和人员调查">中国医师协会放射医师分会开展全国放射设备和人员调查</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>