<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">青春策马 不负韶华 ---“攀登计划“第二期赴美参加AIRP第三周体会</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：AIRP培训课进入第三周。逃离时差的魔爪，远离繁杂的喧嚣，每天九节课满负荷的课程带我们再返校园，重回青春。不惑之年越发珍惜这难得的宁静，心与灵都已入佳境。我们仍然是每天早早来到会场坐在前排，全神贯注听好每一节课。课后的交流大家彼此分享着心得体会，全方位学习美国讲师们的讲课内容、授课方式、课件制作等。不同老师的风格有所不同，有的风趣幽默，有的沉稳严肃，有
                </div>
                <!-- <div class="conter">
                   
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                        <li><strong>下一篇：</strong><a href="http://www.chinaradiologists.org/news/show.php?itemid=97" title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html" title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                        </ul>
                        </div>
                </div> -->
                <div class="conter" id="article">&nbsp; &nbsp; AIRP培训课进入第三周。<br>
                    <br>
                    <span style="text-indent: 2em;">&nbsp; &nbsp;
                        逃离时差的魔爪，远离繁杂的喧嚣，每天九节课满负荷的课程带我们再返校园，重回青春。不惑之年越发珍惜这难得的宁静，心与灵都已入佳境。
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201704/05/15-28-04-77-1.jpg"
                                width="716" height="537" alt="" title="点击打开原图"></div>
                        &nbsp; &nbsp;
                        我们仍然是每天早早来到会场坐在前排，全神贯注听好每一节课。课后的交流大家彼此分享着心得体会，全方位学习美国讲师们的讲课内容、授课方式、课件制作等。不同老师的风格有所不同，有的风趣幽默，有的沉稳严肃，有的亲切细致，我们每个人结合自身的特点，都能找到自己欣赏并希望成为那种类型的讲师。每个人都有所思、有所悟、有所得。
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201704/05/15-28-36-24-1.jpg"
                                width="687" height="960" alt=""></div>
                        <br>
                        &nbsp; &nbsp;
                        本周课程主要以神经系统为主，难度较大，但讲师们结合解剖、影像与病理，用大量精心挑选的病例，由表及里，由浅入深，让学员们在不知不觉中就搞清楚了一个又一个知识点。温文尔雅的<span>Dr.
                            Phillips在讲解颈部间隙时，用非常清晰的解剖示意图，结合病例，让学员们搞清楚了如何进行病变的定位定性。Dr.
                            Smoker性格豪爽，时不时跟学员们开个玩笑，紧紧抓住大家的注意力，课件制作更是不含糊，在讲解鼻咽癌的分期时，一张幻灯片上赋予了非常丰富的内容，影像资料、文字内容、图标箭头一应俱全，每个细节都经过了精心编排，随着她的讲解和激光笔的移动，复杂的内容也很容易被学员理解了。Dr.
                            Smirniotopoulos特别善于把握讲课的节奏，胶质瘤的内容复杂，还要结合新的WHO2016脑肿瘤分类标准，讲解难度很大，但他用丰富的临床知识和病例资料，让学员们搞清楚了胶质瘤的来龙去脉，在讲课过程中，他还要求大家跟他一起读一些关键词，大大加深了学员的印象。还有一些年轻的老师，同样也有很多值得学习的地方。Dr.
                            Shih讲课时稍有点羞涩，但条理特别清楚，图片精心挑选，每讲完一小节都作一个精辟的小结，让学员们更加深对病变的理解。本周的几位资深讲者成为了最大的亮点，连续两节甚至五节的课程一气呵成，率真而随性，各种各样的老故事、小笑话看似信手拈来，让课堂一阵又一阵爆笑；举手投足间又展示着严谨和严格的另一面。不禁让我们想起了国内的那些可亲可敬的老专家们，倍感亲切更倍加钦佩。</span>
                        <div style="text-align: center;"><span><img
                                    src="http://www.chinaradiologists.org/file/upload/201704/05/15-28-53-75-1.jpg"
                                    width="665" height="925" alt=""></span></div>
                        <br>
                        &nbsp; &nbsp; 学习的时光固然辛苦，一坐一整天的剧场，短暂到抓不住的午休。然而我们却是快乐的，心灵如此平静，生活如此单纯，就仿佛真的重新回到了校园，如此充实，如此快乐。<br>
                        <br>
                        &nbsp; &nbsp; 既然再返青春，何不驰骋策马，怎能辜负韶华？
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201704/05/15-29-34-53-1.jpg"
                                width="716" height="537" alt="" title="点击打开原图"></div>
                        <br>
                        &nbsp; &nbsp; 满怀青春的激情与力量，不忘医师协会的嘱托与梦想，你我携手继续前行。
                        <div style="text-align: center;"><img
                                src="http://www.chinaradiologists.org/file/upload/201704/05/15-30-19-12-1.jpg"
                                width="716" height="895" alt="" title="点击打开原图"></div>
                        <br>
                        <br>
                    </span>
                    <p align="right"><b>第三报道组：孙洪赞、吴飞云、姚晋、张立娜</b></p>
                    <p align="right"><b>特别致谢：摄影师王文</b></p>
                    <p style="text-align: left;">（延伸阅读内容见后附文<span>1、2）</span><br>
                        <b><br>
                            附一：娄昕教授和王文教授参加<span>AIRP教学反馈座谈</span></b></p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201704/05/15-30-36-73-1.jpg" width="716"
                            height="537" alt="" title="点击打开原图"></p>
                    <p style="text-align: left;">&nbsp; &nbsp;
                        AIRP重视教学反馈，每期培训过程中在学员中选取代表参与课程反馈座谈。中国代表团娄昕教授与王文教授幸运入选，全程参与了座谈讨论、深入交流。<span>AIRP对课程质量的精心追求，值得学习。</span><br>
                        <b><br>
                            附二：</b><b>关于美国住院医师规范化培训的交流探讨</b><br>
                        <br>
                        &nbsp; &nbsp; 被采访者：齐静（以下简称<span>Qi），来自Medical School Washington University at St.
                            Louis，儿科放射学方向的Clinical Fellow，2017年7月将结束住院医培训并开始在美国的放射科医生职业生涯。</span><br>
                        <br>
                        &nbsp; &nbsp; 采访者：孙洪赞（以下简称<span>Sun），来自中国医科大学附属盛京医院放射科，副教授，副主任医师，“攀登计划”第二期学员。</span></p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201704/05/15-30-51-96-1.png" width="612"
                            height="459" alt=""></p>
                    <p style="text-align: left;">&nbsp; &nbsp; 孙洪赞教授（左一）与<span>Dr. QI（右一）深入交流中</span><br>
                        <br>
                        &nbsp; &nbsp; Sun：医学院毕业生如何进入美国的住院医规范化培训体系？<br>
                        <br>
                        &nbsp; &nbsp;
                        Qi：医学院毕业生（美国是<span>4年普通大学加4年医学院学习，中国一般为5年医学院本科毕业）均可申请成为美国住院医并进行规范化培训，条件是通过USMLE（United States
                            Medical Licensing
                            Examination）考试，凭USMLE成绩、3封推荐信及自我简介（含既往取得成绩及学习、工作经历等），填报住院医培训基地医院，然后参加各基地医院的面试，面试结果是在每年的Match
                            Day（3月份的第3个星期五）公布。</span><br>
                        <br>
                        &nbsp; &nbsp;
                        Sun：中国住院医的规范化培训时间为<span>3年，然后逐步晋升为主治医师，副主任医师，主任医师，如果在教学医院，与之所平行的头衔分别为助教，讲师，副教授，教授。以放射科医生为例，美国的住院医规范培训时间及医生等级制度是怎样的？</span><br>
                        <br>
                        &nbsp; &nbsp;
                        Qi：如果<span>Match的结果是被住院医培训基地医院录取，那么恭喜，正式的住院医生涯即将拉开帷幕。首先是1年的临床轮转（Intern）；然后进入4年的住院医（Resident）培养阶段，在12个影像亚专业（Body
                            Imaging-Inpatiet，Body Imaging-Outpatient，Breast Imaging，Cardiothoracic Radiology，Emergency
                            Radiology，Gastrointestinal/Genitourinary Fluoroscopy，Interventio<em></em>nal
                            Radiology，Musculoskeletal Radiology，Neuroradiology，Nuclear Medicine，Pediatric
                            Radiology，Ultrasound）内完成各4个月的轮转；最后是在固定的亚专业内完成1-2年的Fellow培养（大部分亚专业Fellow培训时间都是1年，特殊亚专业，如神经介入是2年）。也就是说，美国的住院医都需要经历Intern，Resident和Fellow这3个阶段，而对放射科医生而言，需要在Resident的第3年通过Core考试（也称为ABR1，American
                            Board of Radiology），在毕业时通过Certify考试（也称为ABR2），这样才算成功完成他的住院医规范化培训，拿到放射科行医执照而成为Attending
                            Radiologist（相当于国内的主治医师）。Attending Radiologist是放射科医生临床职称的上限，如果是在教学医院，与之相对应的头衔是Assisstant
                            Professor （讲师），并跟国内类似，可以进一步晋升为Associate Professor（副教授），Professor（教授）。</span><br>
                        <br>
                        &nbsp; &nbsp; Sun：请简述一下美国住院医一天的时间安排？<br>
                        <br>
                        &nbsp; &nbsp; Qi：其实教学相长，不论是住院医，还是<span>Attending
                            Radiologist，一天工作的大致时间安排如下：7:00到医院；7-8:00，讲课；8-12:00，上班完成临床任务；12-13:00，业务学习（午餐简餐）；13-17:00，上班完成临床任务；17:00，夜班接班。其中7-8:00讲课的讲者和受众群主要是住院医，汇报随访病例（每人每周至少2例），读书报告（每人每月1次，如Radiographics文献综述），同时有带教老师参会指导。中午的业务学习会安排带教老师做讲课，主要包括系统理论讲课或以培训住院医实践能力为主的病例读片。此外值得一提的是，8-8:30间一般带教老师会带住院医到临床科室参加临床查房或病例讨论会，在临床住院医完成病史汇报和影像住院医完成影像读片后，商讨制定下一步临床治疗方案，这对影像住院医的临床思维培养非常重要。</span><br>
                        <br>
                        &nbsp; &nbsp; Sun：美国住院医规范化培训基地对学员和老师的还有哪些其他较为硬性的要求？<br>
                        <br>
                        &nbsp; &nbsp;
                        Qi：除了上述规章制度外，每个基地为了不断吸引优秀的住院医，形成良性循环，对于培训老师和每年招收的学员都有比较严格的要求和考评机制。如老师与学员的配比基本为<span>1:2；如双向评价机制，一般来说，老师对学员每月一次背对背评价，学员对老师每年一次背对背评价。每个基地对学员和老师最看重的特质是个人的情商和性格，善于沟通，open-minded，easy-going等都被认为是最重要和最受欢迎的品质。</span><br>
                        <br>
                        &nbsp; &nbsp; Sun：我们一行中国中青年影像医生有幸通过“攀登计划”来到美国放射病理研究所（<span>American Institute for Radiologic
                            Pathology， AIRP）总部同美国放射科医生一起参加为期4周的规范化诊断思维培训。</span>麻烦您介绍一下在美国放射科医生眼中的这个培训课程。<br>
                        <br>
                        &nbsp; &nbsp;
                        Qi：该课程是美国放射科住院医师培训的品牌课程，深受美国放射科住院医师的喜爱。因此，美国放射科住院医培训基地会把提供时间和资金赞助等保证学员参加培训作为福利提供给住院医（一般是在培阶段的第<span>3年）。此外，该课程还吸引了除中国外很多其他国家放射科医师的参加，如加拿大，韩国，中东国家等。中国医师协会放射医师分会的领导们能如此重视和高瞻远瞩地推进“攀登计划”，是中国放射医师的一大幸事，祝愿中国的放射住院医师规范化培训尽快达到并期望有可能赶超美国。</span>
                    </p>
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_1.html"
                                    title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_2.html"
                                    title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>