<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        <div class="popup-top">
            <ul>
                <li>登录</li>
                <!-- <li>注册</li> -->
            </ul>
        </div>
        <div class="popup-bottom">
            <div class="tab-item">
                <p>
                    <span>*</span><label for="ipone"></label>
                    <input type="text" id="ipone" placeholder="请输入手机号"></p>
                <p><span>*</span><label for="passwodes"></label>
                    <input type="text" id="passwodes" placeholder="请输入密码"></p>
                <div class="agree"><input type="checkbox" checked>我已经阅读并同意<span>用户协议</span><span class="wangji">忘记密码
                    </span></div>
                <button type="button" id="btn">登录</button>
            </div>
            <!-- <div class="tab-item">注册</div> -->
        </div>
        <div class="popup-footer">
            <p>使用第三方账号登录</p>
            <p>
                <a href="./wexin.html">
                    <img src="/web/images/wx.png" alt="">
                </a>
            </p>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                        <ul class="sub">
                            <li><a href="/web/components/organization/organization.html">全国委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">专业委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">青年委员会</a></li>
                            <li><a href="/web/components/organization/organization.html">历届委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">case in point</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">第三届东亚异种移植学术会议在中南大学举行</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：10月16日，第三届东亚异种移植学术会议在湘雅医学院国际报告厅举行。我校细胞移植与基因治疗研究所所长、湘雅三医院影像医学与核医学教研室主任王维担任大会主席。国际移植协会（TTS）主席、国际异种移植协会现任主席、候任主席及中、日、韩、澳大利亚等国的异种移植专家出席会议，共同探讨异种移植新进展。 会上，王维教授作了Source Animal Bio-safety Surveillance for pig
                </div>
                <!-- <div class="conter" id="article"></div> -->
                <div class="conter" id="article">&nbsp; 10月<span>16日，第三届东亚异种移植学术会议在湘雅医学院国际报告厅举行。我校细胞移植与基因治疗研究所所长、湘雅三医院影像医学与核医学教研室主任王维担任大会主席。国际移植协会（TTS）主席、国际异种移植协会现任主席、候任主席及中、日、韩、澳大利亚等国的异种移植专家出席会议，共同探讨异种移植新进展。<br>
                </span>
                <div style="text-align: center"><img alt="" width="500" align="middle" height="283" src="http://www.chinaradiologists.org/file/upload/201411/27/16-26-51-13-1.jpg"></div>
                <br>
                <div align="left">&nbsp; 会上，王维教授作了“<span>Source Animal Bio-safety Surveillance for &nbsp;pig islet Xenotransplantation Clinical Trial in China, &nbsp;ba<em></em>sed on Changsha Communiqué”的报告，对猪胰岛细胞异种移植的生物安全性和研究中取得的新进展、新成果进行了介绍，发言引起了参会代表的广泛关注。<br>
                </span><br>
                &nbsp;&nbsp;&nbsp;据悉，克服移植过程中的免疫排斥反应，是目前异种移植最大的难关，也是困扰全世界研究者的头号难题。针对这一难题，王维团队与澳大利亚悉尼大学国家异种移植研究中心合作，在细胞移植中巧妙设计了一种新的治疗方案。通俗地说，该方案是在移植术前让患者的“机体防卫系统”与移植供体细胞先“认识”一下，“交个朋友”，这样移植术后可大大降低供体与受体之间的排斥反应。试验表明，采用该方法后，病人免疫抑制剂的用量大大减少，甚至远远低于同种移植免疫抑制剂用量。<br>
                <div style="text-align: center"><img alt="" width="500" align="middle" height="296" src="http://www.chinaradiologists.org/file/upload/201411/27/16-27-33-62-1.jpg"></div>
                <div align="left"><br>
                &nbsp; 据了解，器官移植是上个世纪兴起的一门新兴学科，已经拯救了许多患者的生命。但由于供体的缺乏，许多病人在等待供体的过程中失去了生命，这使得人体器官移植面临挑战。近些年来，为了有效解决器官移植供体的“瓶颈”问题，<span>WHO和一些国家的专家开始研究异种移植，用猪的器官和细胞取代人体器官和细胞。相对于同种移植而言，异种移植最大优势在于可保证供体的供应，缺点在于由物种的差异性导致移植供体和受体之间的排斥反应更大。<br>
                <br>
                </span></div>
                <div align="left">&nbsp; &nbsp; 王维团队一直走在世界异种移植研究的前列。<span>2008年10月，联合国世界卫生组织指定该团队牵头组织了全球异种移植临床研究规范国际研讨会，颁布了指导世界异种移植临床研究的纲领性文件“长沙宣言”。 2012年8月，亚洲首个异种移植猪供体培育及胰岛制备研发中心在长沙建成，成为全球仅有的两家医用供体猪培育基地之一。多年来，王维团队不断改进供体分离和纯化技术，同时对移植技术以及手术后的排斥反应处理等开展了多项技术创新，确立了从移植供体培育、胰岛获取和制备、病人选择、移植手术、抗免疫排斥到术后监控等在内的全新系列诊疗方案。2013年，王维团队拿到了关于异种移植猪胰岛治疗人类1型糖尿病临床研究的批文。<br>
                <br>
                </span></div>
                &nbsp; &nbsp; “确保生物安全性是我们关注的头号问题，本着对病人负责也对我们自己负责的态度，我们的研究首先要注重安全性和规范性，所以主动建立我们的行业标准。研究必须具备谨慎和严谨的态度，移植的首期研究虽然获得令人兴奋的疗效，但需要积累更多病例方能获得令人信服的结果”。王维介绍，“随着高质量供体猪的批量生产，以及抗免疫排斥方案进一步的优化和调整，相信我们的异种移植会有更广阔的前景。”</div>
                <div class="np">
                    <ul>
                        <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_42.html"
                                title="第十四届全国磁共振学术年会暨湖南省第十六次放射学术年会胜利闭幕">第十四届全国磁共振学术年会暨湖南省第十六次放射学术年会胜利闭幕</a>
                        </li>
                        <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_40.html"
                                title="北京积水潭医院放射科成功举办骨质疏松诊断新标准解读暨定量CT骨密度测量规范和临床应用学">北京积水潭医院放射科成功举办骨质疏松诊断新标准解读暨定量CT骨密度测量规范和临床应用学</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div style="width: 20px;float: left;">&nbsp</div>
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
</body>

</html>