<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">攀登计划(CUP)”第二期赴美参加AIRP体会（Part 4）</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">核心提示：团结、收获和展望Teamwork, Insights, Prospect, and Summary
                    (TIPS)核心提示：由中华国际医学交流基金会和中国医师协会放射医师分会共同主办，江苏恒瑞医药股份有限公司独家支持的攀登计划(CUP)二期学员，经过1个月紧张高效的学习培训，于2017年4月8日顺利结束。带着团结、收获和展望的TIPS关键词，秉承攀登计划(CUP)的使命，收获Colorful
                    Understandable Professional 的Best</div>
                <div class="conter" id="article">
                    <p align="center">&nbsp;<b>团结、收获和展望</b></p>
                    <p align="center"><b>T</b>eamwork, <b>I</b>nsights,<b> P</b>rospect, and <b>S</b>ummary (TIPS)</p>
                    <p align="center">&nbsp;</p>
                    <p><b>核心提示：</b>由中华国际医学交流基金会和中国医师协会放射医师分会共同主办，江苏恒瑞医药股份有限公司独家支持的攀登计划(CUP)二期学员，经过1个月紧张高效的学习培训，于2017年4月8日顺利结束。带着“团结、收获和展望”的TIPS关键词，秉承攀登计划(CUP)的使命，收获Colorful
                        Understandable Professio<em></em>nal 的Best image
                        gallery，在王霄英团长、娄昕和孙洪赞副团长带领下，17名学员在这落樱缤纷的时节，满载而归，一定会给郭启勇会长和中国放射医师协会交上一份满意的答卷。</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;&nbsp;
                        马里兰州的4月，落英缤纷，美轮美奂，转眼AIRP培训课进入第四周的尾声，经过连续一个月每天9节课的高强度训练，大家都是沉浸在“累并快乐”中，17位学员念念不忘郭会长的嘱托，王霄英团长鼓励大家再接再励，在娄昕和孙洪赞副团长精心组织下，大家纪律严明，团结一致，有声有色的学习生活顺利结束。带着”团结篇、收获篇和展望篇”，我们满载而归，一定会给郭启勇会长交上一副满意的答卷。
                    </p>
                    <p>&nbsp;</p>
                    <p align="center"><b>团结篇</b><b>Teamwork </b></p>
                    <p>“It is great to do what you love but greater with the great team you
                        love”。攀登计划二期的培训接近尾声，学员们每天和自己喜欢的团队，做着喜欢做的事情，短短一个月下来，大家已经建立了深厚的友谊，来自祖国各地的学员们对即将的离别充满不舍。“We are
                        family”，这是我们贯穿美国1个月“世外桃源”般生活的核心内容。</p>
                    <p>除团长之外，其余16名团员，按照学号分为4个学习小组，分别负责每周1期的报道，从第一期的适应学习生活，到第二期的渐入佳境，传递到第三周学习热情高涨，再到最后一周的收获和总结，每一期报道的出炉，都渗透着我们团队的精神图腾。接力棒般的团队精神传递，让我们每一个课程后的讨论，每一份知识的分享，都显得格外珍贵。AIRP的老师们的团队精神更让我们感动，他们对于课程内容的合理分配、每个课程的安排和衔接、不同亚专业的相互呼应都让我们看到了他们在课程设计和准备中辛苦的付出和精诚合作。人到中年的我们重回校园，难忘无数温馨甜美的场景，我们会携手前行，共创中国放射的未来。“Chinese
                        Radiology Community, Let’s Build Together”。</p>
                    <p align="center"><img
                            src="/web/images/newsTrends/19-22-05-12-1.png" width="716"
                            height="453" alt="" title="点击打开原图">&nbsp;</p>
                    <p align="center"><b>&nbsp;</b></p>
                    <p align="center"><b>收获篇</b><b>Summary</b></p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; <b>1.</b><b>通过</b><b>Best image gallery
                        </b><b>评选活动收获</b><b>AIRP</b><b>精髓</b><b>---CUP</b></p>
                    <p align="left">
                        经历了整整1个月高强度军训式的AIRP授课，我们全体二期学员都感受到目不暇接，精彩纷呈，各个系统、各位老师的讲课都堪称佳作。在王霄英团长，娄昕和孙洪赞副团长共同组织下，由第四小组的张冰、朗宁、满凤媛、刘亚欧牵头组织了best
                        image gallery评选活动。活动宗旨是学习AIRP教师授课技巧，传承best
                        image理念，回国后把中国放射医师规范化培训事业发扬光大。经过2周的认真准备，最后一周，大家齐聚一堂，纷纷演讲听课感受，通过投票，评选出了best
                        image，代表了AIRP授课的风格和专业精神。AIRP课程中有best case评选，旨在鼓励住院医师提供更好的放射-病理对照图像，我们中国军团的best image
                        gallery传承了这个理念，与之遥相辉映，也是对教师授课水平的一个最佳反馈。</p>
                    <p align="left">
                        通过热烈讨论和投票，大家评选出三大类9副图代表AIRP授课技巧，分别为“课件唯美类”，“形象易懂类”和“演讲专业类”，用彩色动态和亮丽的图像（Colorful）抓眼球，用完美的放射-病理-绘图的对照深入浅出的帮助听众理解（Understandable），用悦耳美式英语、清晰的演讲思路和专业的教师精神（Professional）感动听众，鳞此种种正好组成我们攀登计划的“CUP”，传承了training
                        the trainers的理念！</p>
                    <p align="center">&nbsp;</p>
                    <p align="center"><img
                            src="/web/images/newsTrends/19-22-22-37-1.png" alt=""
                            height="434" width="716" title="点击打开原图">&nbsp;<br>
                        <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img
                            src="/web/images/newsTrends/19-23-35-24-1.png" width="716"
                            height="441" alt="" title="点击打开原图"><br>
                        &nbsp;</p>
                    <p align="center"><img
                            src="/web/images/newsTrends/19-24-47-27-1.png" width="716"
                            height="434" alt="" title="点击打开原图">&nbsp;</p>
                    <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p align="left">学员们面对海量课件、海量图像、海量技巧信息，大家选择困难，不忍抉择，上面这些美图也只是<span>AIRP的冰山一角，不能反应全貌。</span></p>
                    <p align="left">&nbsp;</p>
                    <p align="left">2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><b>通过研读</b><b>AIRP</b><b>课程设计秘籍了解规培方案</b>（详见附件1和2）</p>
                    <p align="left">
                        AIRP培训教室是一个400人的大厅，几乎座无虚席，今年共有359人参加，来自全世界各地，以美国和加拿大为主，另外，除我们中国军团之外，还有来自印度、法国、土耳其、奥地利、斯洛芬尼亚、阿拉伯等国家，其中阿拉伯国家的放射医师们的特殊装扮最引人注意，他们国家近年来连续派住院医师参加美国的培养体系，所以，该国的医疗水平也在持续上升。
                    </p>
                    <p align="left">
                        根据放射住院医师轮转需求，AIRP的4周课程包括成人和儿童全身所有系统的影像诊断和鉴别诊断（不含介入放射学），共有171节课，每节课45分钟，按照如下系统，共由50位资深教授讲课（有括号标注的代表耗时2节，其余为1节课）。
                    </p>
                    <p align="left">众多老师中，不乏听众喜欢的明星老师，大家亲切称其为走下神坛的大神，比如呼吸影像男神Jeffery R. Galvin，骨骼肌肉影像男神Mark D.
                        Murphey，神经影像男神James G. Smirniotopoulos和MAJ Robert Shih，先心病影像男神Laureen Sena。还有3位女神，脊髓影像资深女神Wendy
                        R.K. Smoker，腹部影像美丽女神Maria A. Manning。最让大家震惊的是心胸影像女神Aletta Ann
                        Frazier，她同时也是医学绘画大师，几乎所有AIRP课件的靓丽示意图都是她的大作。</p>
                    <p align="center"><img
                            src="/web/images/newsTrends/19-25-15-84-1.jpg" width="579"
                            height="803" alt="">&nbsp;</p>
                    <p align="left">&nbsp;</p>
                    <p align="center"><b>展望篇</b><b> Insights and Prospect</b></p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        为期四周的AIRP课程完美收官，我们即将带着满满的收获和对团队生活的眷恋离开美丽的银泉，这段难忘的经历，将是我们人生不可多得的财富，值得我们永久回味和珍藏。感谢中国放射医师协会，感谢郭启勇院长，感谢各位团队领导，感谢团队的每一位成员，感谢恒瑞公司的大力支持。
                    </p>
                    <p align="left">展望未来，我们可以做的事情很多，我们每一个攀登计划的学员都愿为此付出努力。</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; <b>1.
                        </b><b>教学人才的培养：</b>培育中国的放射医师规培队伍，正是CUP计划的主要目的。作为中国医师协会培养的中青年骨干，未来，我们将在中国医师协会组织的各类培训活动中发挥主动性，为在全国培养一大批优秀的规培教师做出自己的贡献。我们一定不辜负中国医师协会领导们的期望和培养，在全国住院医师规范化培训大步前进的道路上，发挥自己的作用。
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        另外，美国的医学绘画专业也是进行教育的必备人才之一。正是这些专业的医学绘画师才造就了AIRP完美课件，也达到了深入浅出授课的最高境界。</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        <b>2.</b><b>中国的放射</b><b>-</b><b>病理数据库的建立：</b>AIRP有来自全美甚至全球的放射-病理对照数据库，目前已经超过百万的病例数据库。这些数据库建立的背后承载着无数人艰辛的团队合作。首先，参加AIRP课程必须提交case的制度保证了数据库的持续扩充性和数据多样性，在提交病例时进行版权转换，保证了后续数据库挖掘者可以进行教学和科研发表；第二，在欧美的各个住培基地，搜集原始病理电子图像，是住院医师学习过程中必须完成的任务，其中还要有外科医生、病理医生、放射医生必须团队合作才能将病例资料搜集完整；第三，欧美医院的活检率非常高，几乎每个疾病诊断前必须活检，才能制定治疗方案，保证了诊治效果的同时，也保证了资料的完整性；第四，欧美的尸检率非常高，病理科住院医师负责尸检，患者素质普遍很高，尸体捐献率也高，此外，甚至有很多停尸间就有CT室，也保证了数据收集可行性。
                    </p>
                    <p align="left">&nbsp;&nbsp; <b>&nbsp;3.
                        </b><b>课程组织的职业化：</b>AIRP有专业的课程组织运营团队，从总经理，到秘书，再到各个专业的主任一应俱全，他们各司其职，密切配合和组织课程；教室也选择在舒适宽敞的会议室，在会场走廊等到处布置海报和同步转播，增强现场学习气氛；使用打卡器、答题器、签到器等保证了学员出席率。采用现场演示和互动参与等多种形式，增强讲课效果；采用课后问卷调查等形式，改进教师授课效果。
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 回国后，我们一定会以在AIRP所学为契机，以中国医师协会领导下的住院医师规培最高目标为导向，以此次培训的宗旨——“training
                        the trainer，teaching the
                        teacher”为方针，从中国实际情况出发，将美国放射住院医师的培训模式和我国现行制度相结合，做到取长补短、切合实际，力争将中国的放射医师规培的专业技术培训提升到一个新的高度。</p>
                    <p align="left">临别时，攀登计划二期学员们互道珍重，并相约在中国放射医师规培的讲台上大放异彩！！！</p>
                    <p align="center"><b>&nbsp;<img
                                src="/web/images/newsTrends/19-25-38-74-1.png"
                                width="661" height="660" alt=""></b></p>
                    <p align="right"><b>第四报道组：张冰、郎宁、满凤媛、刘亚欧</b><b> </b></p>
                    <p align="right"><b>特别致谢：攀登计划二期全体学员的团队合作</b></p>
                    <p align="right"><b>（延伸阅读内容见后附文</b><b>1</b><b>、</b><b>2</b><b>）</b></p>
                    <p align="center"><b>延伸阅读</b></p>
                    <p align="left"><b>附件</b><b>1</b><b>：与</b><b>ACR</b><b>和</b><b>ARIP</b><b>组织机构代表访谈</b></p>
                    <p align="left">2017年4月4号中午，在王霄英队长带领下，我们攀登计划第二期学员全体和ACR、AIRP代表进行了午餐会访谈，AIRP的总经理Do<em></em>nald
                        Hatley先生、MSK骨科影像专家Mark D.
                        Murphey教授、ACR教育部的史琳小姐和全体学员进行了深入交流。双方互相介绍了各自国家的放射诊断科设置、工作流程、放射住院医师规培体系等。</p>
                    <p align="left">美国放射医师协会（美国放射医师学院）（The American College of
                        Radiology）建立于1924年，是致力于在临床、科研、教学领域全方位提高放射医师水平,以更好的为患者服务的专业医学协会组织。有37000名会员，包括放射诊断医师、肿瘤放疗师、介入放射医师、核医学医师、医学物理师，其中55%的会员是放射诊断医师。主要的职责是继续教育、质量控制、科学研究和保护放射医师权益。
                    </p>
                    <p align="left">美国放射病理研究所（The American Institute for Radiologic
                        Pathology，AIRP）是ACR的一个培训项目组织。该研究所以前属于国家军队医院（the Armed Forces Institute of Pathology's Walter
                        Reed
                        facility），后来转到ACR统一管理和运营。负责为的放射医师提供住院医师规范化培训和亚专科医师（fellowship）培训。各种培训课程中，以连续4周的放射-病理对照研究课程培训为明星课程，成为全美乃至全球的唯一品牌培训课程。
                    </p>
                    <p align="left">
                        美国的住院医师培养体系是相对完整的，有很多机构参与，互相之间既是合作，也是监督关系，共同保证住院医师的培养质量。与住院医师培养有关的机构很多，包括美国毕业后医学教育认证委员会（ACGME），ACGME包括美国医学专科委员会、美国医院协会、美国医学协会、美国医学院协会和医学专业协会理事会组成。依靠下属的专家委员会制定和改进各种评审标准。美国住院医师培训医院必须通过ACGME的认证。
                    </p>
                    <p align="left">
                        ACR下属的AIRP是经过ACGME认证的可以开展住院医师培训工作的机构，主要提供专业的课程培训，帮助第三年的放射住院医师通过board考试。但是并不是出题机构，两者之间独立运营。</p>
                    <p align="left">
                        ABR考试就是美国住院医师的资格考试，分两次进行，第4年进行第2次考试，AIRP的4周培训课程就是针对这第2次考试进行的培训，主要是临床放射学内容，而且该课程培训费用是各住院医师培训基地支付，所以深受全美放射住院医师的欢迎。
                    </p>
                    <p align="left">&nbsp;</p>
                    <p align="left"><b>附件</b><b>2</b><b>：</b><b>2017</b><b>年</b><b>AIRP</b><b>课程设置秘籍</b></p>
                    <p align="left">
                        课程安排根据各位教授专业和特长，涉及每个系统的每个疾病，常见病、少见病。以系统解剖和临床问题引入主题，以征象分类为主和以疾病分类为主逐层深入，重要系统的课程多大30多节，力求透彻。课程形式多样，除传统授课之外，还有超声现场真人演示，现场答题互动，录像演示等。在课程间歇穿插各种疾病读片会、交流会、反馈会、总结会、表彰会等等，轻松活泼之余，知识渗透人心。
                    </p>
                    <p align="left">骨骼肌肉系统（35节）：MSK基本征象、Paget
                        病、骨源性疾病、MSK脂肪性病变、膝关节MRI成像（2节）、骨软骨病变、尤文氏肉瘤和朗罕氏组织增生症、骨纤维源性肿瘤、腕关节MRI、足和踝MRI、骨囊性病变、全关节置换和骨移植的影像评估、骨转移、淋巴瘤和黑色素瘤、其他骨疾病（骨质疏松、神经纤维瘤、SLE等）、骨性关节炎（2节）、肩袖损伤、肩关节失稳、股骨头坏死和股骨髋臼撞击症、肘关节MRI、上肢超声成像、下肢超声成像、骨骼肌肉超声成像、关节旁疾病、MSK血管瘤样病变、肾源性骨病、MSK感染疾病、MSK病例读片1、2、3、4、晶体沉积病和神经骨关节病、骨骼发育读片会。
                    </p>
                    <p align="left">骨骼肌肉系统授课教授（5位）：Dr. Murphey、Dr. Mulligan、Dr. Jacobson、Dr. Flemming、Dr. Resnik</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        神经五官系统（33节）：神经上皮起源肿瘤-胶质瘤（2节）、胶质瘤高级影像诊断、脑膜起源肿瘤、松果体区肿瘤、脱髓鞘疾病、神经退变性疾病多模式影像、淋巴瘤和少见神经上皮起源肿瘤、非神经上皮起源肿瘤、中枢神经系统感染性疾病谱、缺血性脑血管病、脑室系统疾病、神经皮肤综合征（2节）、鞍区和鞍旁病变、咽旁间隙病变、喉部及周围疾病、副鼻窦解剖、发育和感染性疾病、颈部淋巴结和感染性疾病、颞骨解剖和先天性疾病、颞骨感染性疾病和肿瘤、鼻腔鼻窦肿瘤、眼眶疾病、鼻腔口腔喉腔疾病、咀嚼肌间隙疾病、脊柱脊髓退变和感染疾病、脊髓肿瘤、脊髓血管和错构瘤疾病、神经上皮起源肿瘤读片1、2、甲状腺核医学成像、甲状腺疾病读片会
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 神经五官系统授课教授（7位）：Dr. Hunt、Dr. Koeller、Dr. Phillips、Dr. Shatzkes、Dr.
                        Smoker、Dr. Smirniotopoulos、Dr. Shih</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        上腹部疾病（11节）：慢性肝病、胆道良恶性肿瘤、肝脏转移瘤、脾脏疾病、胰腺实体病变放射病理对照、胰腺囊性肿瘤、原发性肝脏肿瘤（2节）、后腹膜疾病、腹膜病变、肝胆核医学成像</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 上腹部疾病授课教授（8位）：Dr. Rubens、Dr. Mortele、Dr. Manning*、Dr. Marko、Dr.
                        Fink、Dr. Jha、Dr. Zeman、Dr. Heller</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        呼吸系统（18节）：弥漫性肺疾病、特发性间质性肺炎纤维化、气道疾病-从解剖到病理生理改变（2节）、气管疾病的放射病理对照、纵膈肿瘤（2节）、免疫相关肺疾病、尘肺病、胸膜疾病（2节）、肺良性肿瘤和肿瘤样病变、肺部少见恶性肿瘤、肺淋巴系统疾病、肺癌和支气管源性疾病、肺转移瘤、肺感染疾病、胸部疾病病例读片
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 呼吸系统授课教授（3位）：Dr. Galvin，Dr. Lichtenberge，Dr. Shah</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        心血管系统（16节）：心血管核医学和分子影像、冠脉解剖和病理、冠脉疾病、肺动脉高压、胸部大动脉炎性疾病、先天性心脏病（4节）、急诊胸痛的CT评估-畸形冠脉综合征和鉴别诊断、非缺血性心肌病、心脏瓣膜疾病、原发性心脏肿瘤、心包疾病、胸主动脉疾病、心血管疾病读片
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 心血管系统授课教授（8位）：Dr. Dilsizian，Dr. Kligerman，Dr. Frazier，Dr.
                        Sena，Dr. White，Dr. Ho，Dr. Jeudy</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        消化道（12节）：食管炎症性疾病、食道肿瘤、消化道溃疡性疾病、肛门直肠肿瘤、克隆氏病放射病理对照、结直肠癌、胃小肠恶性肿瘤（2节）、缺血性肠道疾病、腹泻相关疾病、炎症性肠病、肠道造影读片会
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 消化道授课教授（6位）：Dr. Levine，Dr. Mortele，Dr. Vandermeer，Dr. Lane，Dr.
                        Manning*，Dr. Scholz</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        泌尿生殖系统疾病（17节）：肾脏囊性肿瘤、囊性肾脏疾病、成人肾上腺疾病、前列腺疾病、子宫疾病（2节）、卵巢附件非肿瘤疾病、泌尿系膀胱疾病、阴囊疾病（2节）、膨胀性肾肿瘤、浸润性肾肿瘤、卵巢肿瘤（2节）、男性盆腔成像、膀胱输尿管返流疾病、女性盆腔病例讨论
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 泌尿生殖系统疾病授课教授（7位）：Dr. Marko，Dr. Wong*，Dr. Rubens，Dr. Wolfman，Dr.
                        Chung*，Dr. Wagner ，Dr. Biko*</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;
                        乳腺（7节）：乳腺MRI，影像引导下乳腺活检、乳腺钙化性疾病、少见乳腺癌鉴别诊断、乳腺超声和钼靶、乳腺癌的钼靶征象、男性和少女乳腺疾病</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 乳腺授课教授（3位）：Dr. Nicholson，Dr. Harvey，Dr. Glassman</p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp;
                        儿科（19节）：新生儿脑肿瘤、儿童脑畸形、儿童脊髓畸形、新生儿胃肠道梗阻、儿童急诊胃肠道成像、儿童气道和颈部成像、胸部大血管发育异常、儿童肝胆肿瘤、新生儿肺疾病、先天性肺畸形、儿童肾脏肿瘤、儿童肾上腺肿瘤、儿童盆腔肿瘤、儿童血管发育异常疾病读片、早孕期胎儿成像、中孕期胎儿成像、儿童泌尿系畸形、儿童肺疾病、儿童髋关节疾病读片
                    </p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 儿科授课教授（5位）：Dr. Chung*，Dr. Siegel，Dr. Bulas，Dr. Huisman，Dr. Biko*
                    </p>
                    <p align="left">&nbsp;</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 特殊疾病（3节）：肾-肝-胰腺移植、虐童影像学、血液病影像学</p>
                    <p align="left">&nbsp;&nbsp;&nbsp; 特殊疾病授课教授（3位）：Dr. Wong*，Dr. Chung*，Dr. Pope</p>
                    <p align="left">注：*代表该教授在2个以上系统授课。</p>
                    <p align="left">课程设计丰富多彩，穿插病例读片、各种特殊社交活动和现场演示等，增进学习效果，也促进学员之间的交流。</p>
                    <p align="left">Ø&nbsp;第一周周一开幕式</p>
                    <p align="left">Ø&nbsp;第一周周二中午午餐会：Lunch with GU Seminar- Dr. Rubens</p>
                    <p align="left">Ø&nbsp;第四周欢迎晚宴：Welcome Reception - Remark from Dr. Thornwarth</p>
                    <p align="left">Ø&nbsp;第二周周三午餐会：Lunch with RLI Event</p>
                    <p align="left">Ø&nbsp;第二周周五午餐会：Lunch with 12:40 GU Seminar- Dr. Marko</p>
                    <p align="left">Ø&nbsp;第四周的午餐会：中国军团与Murphey的座谈会</p>
                    <p align="left">Ø&nbsp;第四周的周四：Best Case Presentation, Dr. Klein and Pizza Party Spo<em></em>nsored
                        by RSNA</p>
                    <p align="left">Ø&nbsp;第四周的周五中午闭幕式</p>
                    <br>
                    <div class="b10 c_b">&nbsp;</div>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_10.html"
                                    title="显微CT之肺部低剂量筛查统治地位——写给拥有这台神器的用户">显微CT之肺部低剂量筛查统治地位——写给拥有这台神器的用户</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_12.html"
                                    title="青春策马 不负韶华 ---“攀登计划“第二期赴美参加AIRP第三周体会">青春策马 不负韶华 ---“攀登计划“第二期赴美参加AIRP第三周体会</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="/web/components/newsTrends/news/news_1.html">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="/web/components/newsTrends/news/news_1.html"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中青年影像医生“攀登计划”第四期第一轮遴选结果</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>