<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/news/news_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="show">
            <div class="show-lf">
                <div class="text-lf">
                    <span style="color:#333">新闻动态</span>&nbsp;>> &nbsp;正文
                </div>
                <h1 class="title">住培心得——放射规培路漫漫，吾将上下而求索</h1>
                <div class="info">
                    发布日期：2020-04-22&nbsp;&nbsp;
                    <!-- 浏览次数：<span id="hits">2087</span> -->
                </div>
                <div class="introduce">
                    核心提示：转眼间距研究生入学已经半年多了，作为放射学专业学位的研究生，我的培养方式是和住院医师规范化培训结合在一起的。而我轮转的重点科室是放射科。自2015年10月开始，我进入浙江大学附属第一医院放射科进行住院医师规范化培训。那么首先谈谈放射科吧，浙大一院放射科成立于1947年，是浙江省最早建立的放射医学专科之一，基本工作包括普通放射、CT、MR
                </div>
                <div class="conter" id="article">
                    <p>转眼间距研究生入学已经半年多了，作为放射学专业学位的研究生，我的培养方式是和住院医师规范化培训结合在一起的。而我轮转的重点科室是放射科。自2015年10月开始，我进入浙江大学附属第一医院放射科进行住院医师规范化培训。那么首先谈谈放射科吧，浙大一院放射科成立于1947年，是浙江省最早建立的放射医学专科之一，基本工作包括普通放射(X线摄影、钡餐、造影等)、CT、MR、介入放射等部分。除了先进的硬件设施，这里还拥有众多省内及国内知名专家。所以从来到这里的第一天开始，我就对自己即将在这里接受三年的住院医师规范化培训并成为一名优秀的住院医师而充满信心。&nbsp;
                    </p>
                    <p>进科的第一天，我通过接受入科培训，初步了解到浙大一院放射科高度重视住培工作。科室已经成立住院医师规范化培训领导小组，由陈峰主任担任组长并全面负责住培工作，张景峰副主任主要分管住培工作、黄强住院总和熊兵教学秘书协助住院医师规范化培训的日常管理与协调。同时，在这里我也遇到了很多一起进入放射科接受培训的同学、同事，而他们就是我今后一起学习的重要伙伴。我们15级一共有14位放射影像专业的学员，加上超声医学、核医学以及其它临床相关专业的学员，每月至少有30人在放射科接受培训。因此，放射科的老师在处理繁忙的工作之余，还要抽出大量时间来指导我们学习基础知识和基本技能，真是非常辛苦。但是，他们没有任何抱怨和情绪，我们真的非常感动。
                    </p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201607/06/21-08-37-85-1.jpg" width="553"
                            height="345" alt=""></p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201607/06/21-09-01-80-1.jpg" width="553"
                            height="353" alt=""></p>
                    <p>我们14人分别由科里的高年资医师来带教。从我们培训开始的第一天，张景峰老师就和我们亲切交流，深入了解我们的专业知识和临床技能水平，经常和我们打成一片。在此过程中，张老师不断摸索、总结并广泛听取我们学员的意见和建议，为我们量身打造了一个全方位、阶梯式的培训方案与实施细则。为了保证培训计划能够真正落到实处，放射科住培教育工作组在充分征求学员意见的同时，让我们每一位学员都能真正参与到日常培训工作中来。大家互相帮助、友好竞争、团结协作、共同进步，每一位学员都能积极发挥主人翁精神和团队意识，共同管理和维护这个属于我们自己的“学员之家”。
                    </p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201607/06/21-09-20-57-1.jpg" width="521"
                            height="348" alt=""></p>
                    <p>正是由于广大学员的积极参与，现在的培训方案和实施细则已经有了我们的一份贡献，所以心里自然会有些许自豪感。例如：针对每一阶段的病种学习，每周二晚上由我们学员自己准备课件并讲课，在带教老师的辅导下，认真完成每节小讲课的学习内容。其中一次，针对我提出“脑转移瘤与脑脓肿的鉴别”这一问题，赵艺蕾老师辅导杨飘同学做了一次重点讲座，并且现场读片演示。通过这次互动学习，我深刻领会了这两种疾病的影像学鉴别要点，印象尤为深刻。
                    </p>
                    <p>每3个月为一个级别。在一个级别学习结束后，张景峰老师会针对该级别学习过程中遗留的问题给大家集中辅导答疑，然后由住培工作组统一组织升级考试。例如4月25日，在教学部领导及工作人员的监督下，我们完成了第一阶段C2级别的考试。本次考试设有中枢神经系统、呼吸循环系统、消化系统、泌尿生殖系统以及骨关节系统等五站病例读片测试。由学员进行集中抽签决定先后顺序，每位学员必须参加五站考试，每一站共有5个病例作为备选，学员只需要任选一个病例进行某一站的读片。经过紧张有序的综合测试，每一位学员都顺利通过了C2级的过关考核。我们都特别高兴，觉得这一培训模式很有成效。
                    </p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201607/06/21-09-34-44-1.jpg" width="492"
                            height="492" alt=""></p>
                    <p>每周四中午科室会组织全科学习当前放射领域相关的前沿知识，虽然有时不是很懂，但是它对于提高专业与科研知识很有帮助。目前我已经轮转了CT、MR、胃肠造影和X线平片等岗位，对放射科的常规工作已经有了比较系统的初步认识。在胃肠造影学习的一个半月时间中，我的带教老师放射学专家章熙道教授给我留下了深刻的印象。已经80多岁高龄的他，仍然坚守在教学工作的第一线，虔心给放射科把关人才，兢兢业业数十年，为我们年轻医师树立了优秀榜样。
                    </p>
                    <p style="text-align: center;"><img
                            src="http://www.chinaradiologists.org/file/upload/201607/06/21-09-50-96-1.jpg" width="410"
                            height="303" alt=""></p>
                    <p>作为专业学位的研究生，规培方案对我的要求不仅限于专业知识的学习，同时还有科研方面的学习等。路漫漫其修远兮，吾将上下而求索。我真心地希望能够在接下来的规培日子里，认认真真地按照科室为我们制定的规培计划去学习，相信自己一定能够成为一名优秀的放射影像专业住院医师。
                    </p>
                    <p>(作者：浙江大学医学院附属第一医院放射科研究生薛星；文字编辑：浙江大学医学院附属第一医院教学部姜晓莹）</p>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a href="/web/components/newsTrends/news/news_17.html"
                                    title="中国医师协会关于举办放射科住院医师规范化培训师资培训班的通知">中国医师协会关于举办放射科住院医师规范化培训师资培训班的通知</a>
                            </li>
                            <li><strong>上一篇：</strong><a href="/web/components/newsTrends/news/news_20.html"
                                    title="攀登计划报名截止通知">攀登计划报名截止通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class="show-rg">
                <div class="show-text">
                    <div><strong>推荐图文</strong></div>
                </div>
                <div class="box_body">
                    <table width="100%">
                        <tbody>
                            <tr align="center">
                                <td width="50%" valign="top"><a
                                        href="http://www.chinaradiologists.org/news/show.php?itemid=87">
                                        <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                            width="120" height="90" alt="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”"></a>
                                    <ul>
                                        <li><a href="http://www.chinaradiologists.org/news/show.php?itemid=87"
                                                title="中华国际医学交流基金会中国医师协会放射医师分会中青年影像医生“攀登计划”">中华国际医学交流基金</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box_head">
                    <div><strong>推荐资讯</strong></div>
                </div>
                <div class="box_body">
                    <ul class="ul">
                        <li>
                            <a href="/web/components/newsTrends/news/news_1.html"
                                title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                        </li>
                        <li>
                            <a href="/web/components/newsTrends/news/news_2.html"
                                title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="box_head"><div><strong>点击排行</strong></div></div>
                <div class="box_body">
                    <div class="rank_list"><ul class="ul">
                    </ul>
                    </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
        name="footerFrame"></iframe>
    <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>