<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">2016中国医师协会放射专业住院医师规范化培训师资培训班顺利召开</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <div class="introduce">
                            核心提示：紧急通知及温馨提醒由中华国际医学交流基金会与中国医师协会放射医师分会共同发起的中青年影像医生攀登计划(Capacity UpgradingProgram，简称CUP)，自报名通知发布之日起受到了广大影像同道们的积极响应。感谢各位的积极参与，按照计划报名工作将于7月21日截止，鉴于第一次采用网上报名和评审的办法，系统还有不完善的地方，经讨论现将报名截止日期定在7月28日(星期五)。如果您
                        </div>
                        <!-- <div class="conter">
                         
                    </div> -->
                    <div class="conter" id="article"><div><span style="font-size: 20px;">&nbsp;参会嘉宾合影<br>
                    </span></div>
                    <div style="text-align: center;"><span style="font-size: 20px;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/10-01-22-29-1.png" width="716" height="273" alt="" title="点击打开原图"><br>
                    </span></div>
                    <div><span style="font-size: 20px;"> &nbsp;</span></div>
                    <div><span style="font-size: 20px;">&nbsp; &nbsp; 2016年8月26日，2016中国医师协会放射专业住院医师规范化培训师资培训班于郑州嵩山饭店隆重开幕！这次培训班是放射专业住培专委会成立以来首次举办的放射专业住院医师规范化培训师资培训班。<br>
                    <br>
                    &nbsp; &nbsp; 郭启勇会长致辞<br>
                    <br>
                    &nbsp; &nbsp; 郭启勇会长在本次大会上表示，当前，我国住院医师规范化培训正面临前所未有的挑战和机遇。如何标准化、教什么、考什么和什么是合格的标准是当前的最大挑战。中国医师协会放射医师分会将未来的工作重点放在规范中国放射医师专科培训这一关键环节。<br>
                    <br>
                    &nbsp; &nbsp; 本次培训班是中国放射医师协会”攀登计划"作为首批赴美学习的第一期老师们学成归来后做的首次汇报，引入先进教学模式并在这次会议中分享了各系统的影像-病理等知识，对于青年放射医师的培养、医师的培训与管理有着重要意义。<br>
                    <br>
                    &nbsp; &nbsp; 会中，来自北京大学人民医院的洪楠老师代表第一期学员为大家介绍了美国放射病理研究所（AIRP）培训情况。这次各位老师的专题讲座所讲授的内容涉及到放射科所有专业的常见病和罕少见病，并与病理对照。会后，参会的医师表示有很大的提高，对今后的培训工作将起到强有力的促进作用。<br>
                    <br>
                    认真听讲、做笔记<br>
                    <br>
                    &nbsp; &nbsp; “放射专业住院医师规范化培训师资培训班”与“中国医师协会放射分会2016年全国年会”同期举办。<br>
                    <br>
                    &nbsp; &nbsp; 2014年7月18日，国家卫计委把住培、专科医师规范化培训及相关考核工作，整体全部委托给中国医师协会。2015年中国医师协会住培放射专业委员会正式成立，专委会由国内22位著名专家构成，郭启勇任主任委员，金征宇为副主任委员。郭启勇会长明确了放射住培专委会的职责及工作模式，设置了一个指导委员会和教材编写工作组、基地评估工作组、考核工作组等三个工作组的工作方案。三个工作组分别负责辅导材料、师资培训、数字教学等工作，基地评估工作，出科标准与试题等，并将工作进展情况向指导委员会成员做汇报。<br>
                    <br>
                    &nbsp; &nbsp; 今年出版了由郭启勇会长主编的住院医师规范化培训规划教材《放射影像学》，作为配套教材还将编写一本病例图谱、以教材为基础出一套讲课视频，同时还要出版放射科诊断报告模板及规范手册，以及建立互联网移动终端等。由专委会副会长程敬亮教授领导的考核工作组将建设一个容纳符合规培标准的一万以上道题的题库，这样可以随机自动组合考试题，最终实现全国网络划统一考试。<br>
                    <b><br>
                    </b>  </span></div>
                    <div style="text-align: left;"><span style="font-size: 20px;">大会现场</span></div>
                    <div style="text-align: center;"><span style="font-size: 20px;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/10-02-36-74-1.jpg" width="500" height="332" alt=""></span></div>
                    <div><span style="font-size: 20px;">&nbsp;<br>
                    &nbsp; &nbsp; 嵩山饭店大礼堂中座无虚席，参会学者们认真听讲，学术气氛浓厚<br>
                    <br>
                    &nbsp; &nbsp; 随着演讲的结束，住培师资培训分会场内第一天的课程顺利结束，参会学者们意犹未尽，期待之后的课程赶紧到来。</span></div>
                    <br type="_moz">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_6.html"
                                    title="中国医师协会放射分会2016年全国年会隆重开幕！">中国医师协会放射分会2016年全国年会隆重开幕！</a>
                            </li>
                            <li><strong>上一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_4.html"
                                    title="关于中青年影像医生“攀登计划”紧急通知及温馨提醒">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>