<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">中国医师协会放射医师分会年会暨第十届全国放射医师论坛</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <!-- <div class="introduce">
                            核心提示：2016年8月26日，住院医师规范化培训六方峰会在中国医师协会放射医师年会的前一天，于河南省郑州市胜利召开。 在国家政策的引导下，全国范围内全面启动了住院医师规范化培训工作，2015年中国医师协会放射医师分会在南京组织召开了第一届住院医师规范化培训七方峰会
                        </div> -->
                        <!-- <div class="conter">
                          
                    </div> -->
                    <div class="content" id="article"><br>
                        <img alt="" width="716" height="1011" src="http://www.chinaradiologists.org/file/upload/201606/15/10-37-28-98-1.jpg" title="点击打开原图"><br>
                        <img alt="" width="716" height="1011" src="http://www.chinaradiologists.org/file/upload/201606/15/10-37-55-99-1.jpg" title="点击打开原图"><br>
                        <img alt="" width="716" height="1011" src="http://www.chinaradiologists.org/file/upload/201606/15/10-38-23-67-1.jpg" title="点击打开原图"><br>
                        <img alt="" width="716" height="1011" src="http://www.chinaradiologists.org/file/upload/201606/15/10-38-44-40-1.jpg" title="点击打开原图"><img alt="" width="716" height="1011" src="http://www.chinaradiologists.org/file/upload/201606/15/10-39-06-40-1.jpg" title="点击打开原图"><br>
                        <br>
                        &nbsp;&nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/pdf.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201606/15/10-43-07-83-1.pdf&amp;name=2016%E5%B9%B4%E6%94%BE%E5%B0%84%E5%8C%BB%E5%B8%88%E5%88%86%E4%BC%9A%E5%B9%B4%E4%BC%9A%E9%80%9A%E7%9F%A5.pdf" class="attach" rel="nofollow">2016年放射医师分会年会通知.pdf<br>
                        </a>&nbsp;&nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/xls.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201606/15/10-43-59-16-1.xls&amp;name=2016%E9%83%91%E5%B7%9E%E5%B9%B4%E4%BC%9A%E6%97%A5%E7%A8%8B-%E4%BC%9A%E5%9C%BA1-3-0613(%E6%97%A0%E4%B8%83%E6%96%B9).xls" class="attach" rel="nofollow">2016郑州年会日程-会场1-3.xls<br>
                        </a>&nbsp;&nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/doc.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201606/15/10-44-29-73-1.doc&amp;name=%E5%85%A8%E5%9B%BD%E5%8C%BB%E5%B8%88%E5%8D%8F%E4%BC%9A%E4%BC%9A%E8%AE%AE%E6%97%A5%E7%A8%8B-%E4%BC%9A%E5%9C%BA4-0613.doc" class="attach" rel="nofollow">全国医师协会会议日程-会场4.doc</a><br>
                        <br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_11.html"
                                        title="第二届全国运动损伤磁共振诊断学习班简章">第二届全国运动损伤磁共振诊断学习班简章</a>
                                </li>
                                <li><strong>上一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_9.html"
                                        title="第16届亚洲大洋洲放射学会年会（AOCR 2016）邀请函">第16届亚洲大洋洲放射学会年会（AOCR 2016）邀请函</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>