<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">第十三次放射医师年会【参会攻略】</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <div class="introduce">
                            核心提示：各位小伙伴，我们万分期盼的第十三次放射医师年会要召开啦。相信大家跟小编一样，见到那么多新老朋友，心情超激动！为各位亲顺利参加本届年会，特准备了一份非常贴心的参会攻略，请大家珍藏仔细瞧吧！攻略1：到VIP注册处地址：广州长隆酒店一层我们的志愿者已现场准备完毕，正等候各位VIP来宾光临，有什么疑问请及时沟通！攻略2：找会场主入口会场：广州长隆国际会展中心当您找
                        </div>
                        <!-- <div class="conter">
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                                </li>
                                <li><strong>上一篇：</strong><a href="/web/components/notification/notifica/notifica_1.html"
                                        title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                        <div class="conter" id="article">
                            <div style="text-align: left;">各位小伙伴，我们万分期盼的第十三次放射医师年会要召开啦。</div>
                            <div style="text-align: left;">相信大家跟小编一样，见到那么多新老朋友，心情超激动！</div>
                            <div style="text-align: left;">为各位亲顺利参加本届年会，特准备了一份非常贴心的参会攻略，请大家珍藏仔细瞧吧！</div>
                            <div style="text-align: left;">攻略1：到VIP注册处</div>
                            <div style="text-align: left;">地址：广州长隆酒店一层</div>
                            <div style="text-align: left;">我们的志愿者已现场准备完毕，正等候各位VIP来宾光临，有什么疑问请及时沟通！</div>
                            <div align="center">&nbsp;</div>
                            <div align="center"><img width="563" height="422" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-54-05-96-1.jpg"><img
                                    width="568" height="426" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-54-17-98-1.jpg">
                            </div>
                            <div><br>
                                攻略2：找会场主入口</div>
                            <div>会场：广州长隆国际会展中心</div>
                            <div>当您找到广州长隆国际会展中心门口这标志，就找到本届大会的主入口，请您开启愉快的参会之旅吧。</div>
                            <div align="center"><img width="570" height="427" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-55-10-39-1.jpg">
                            </div>
                            <div>攻略3：看会场平面图</div>
                            <div>如果您找不到想要的某个会场，请不要急，可详细查看会场平面分布图，做到心中有数，去哪就都简单啦。&nbsp;</div>
                            <div align="center"><img width="595" height="446" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-57-06-21-1.jpg">
                            </div>
                            <div>攻略4：自助注册</div>
                            <div>当您找到了注册位置，如果不愿排长队，可通过自助注册区摆放的电脑，进行快速注册，当然也有细心的志愿者提供帮助！</div>
                            <div align="center"><img width="610" height="458" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-57-31-49-1.jpg">
                            </div>
                            <div>攻略5：现场注册</div>
                            <div>当您到大会现场注册区，对各种注册缴费相关事宜，都可咨询我们可爱的志愿者，他们会耐心细致解答，确保您参会无忧的。</div>
                            <div align="center"><img width="610" height="458" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-59-18-33-1.jpg"><img
                                    width="611" height="458" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-59-29-73-1.jpg"><img
                                    width="635" height="477" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-01-06-59-1.jpg">
                            </div>
                            <div align="center">&nbsp;</div>
                            <div>攻略6：住宿办理</div>
                            <div>当您到住宿办理区，就在注册区旁边，可先住宿再注册，也可先注册再住宿，您身边的志愿者都会提供周到服务。</div>
                            <div align="center"><img width="650" height="488" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/16-59-58-51-1.jpg">
                            </div>
                            <div>攻略7：查阅大会日程</div>
                            <div>如果您不熟悉会议流程，可查阅大会日程一览表，本届大会基本信息这有非常精彩内容，不要错过哟。</div>
                            <div align="center"><img width="652" height="489" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-00-19-95-1.jpg">
                            </div>
                            <div>攻略8：去领资料包</div>
                            <div>当您愉快参会，请千万别忘去领资料包，包里装很多有价值资料，可供借鉴参考的。</div>
                            <div align="center"><img width="574" height="766" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-02-48-39-1.jpg">
                            </div>
                            <div>攻略9：到试片室交发言PPT</div>
                            <div>如果您是讲者，按照大会要求，请您在报告前至少3小时，记得将您的发言PPT预交到广州长隆会展中心二层201试片室哟！</div>
                            <div align="center"><img width="670" height="893" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-03-02-45-1.jpg">
                            </div>
                            <div>攻略10：请按时用餐</div>
                            <div>为方便用餐，我们提供给您参会证和餐券，请您按时到相应的餐厅吃饭吧。</div>
                            <div align="center"><img width="716" height="323" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-03-18-83-1.png"
                                    title="点击打开原图"><img width="716" height="243" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-03-29-89-1.png"
                                    title="点击打开原图"></div>
                            <div align="center">&nbsp;</div>
                            <div>攻略11：看专业学术书刊专区</div>
                            <div>本次大会特设专业学术书刊专区，聚焦放射医疗专业领域创新发展，展现放射医疗领域重大学术研究成果！</div>
                            <div align="center"><img width="716" height="537" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-03-45-55-1.jpg"
                                    title="点击打开原图"></div>
                            <div>攻略12：到壁报区评选</div>
                            <div>本次大会特设优秀壁报评选，欢迎大家扫二维码投票，记得每人最多可投10篇壁报，对每篇壁报，每人只可投1票。</div>
                            <div align="center"><img width="626" height="469" alt=""
                                    src="http://www.chinaradiologists.org/file/upload/201905/30/17-03-59-85-1.jpg">
                            </div>
                            <div>请各位亲，有任何问题，随时找可爱敬业的现场工作人员和志愿者，诚挚欢迎大家莅临本次放射医师年会！</div>
                            <br>
                            &nbsp;
                            <div class="np">
                                <ul>
                                    <li><strong>下一篇：</strong><a href="/web/components/notification/notifica/notifica_2.html"
                                            title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                                    </li>
                                    <li><strong>上一篇：</strong><a href="/web/components/notification/notifica/notifica_23.html"
                                            title="第七届中国骨科医师年会隆重召开">第七届中国骨科医师年会隆重召开</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>