<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <div class="introduce">
                            核心提示：紧急通知及温馨提醒由中华国际医学交流基金会与中国医师协会放射医师分会共同发起的中青年影像医生攀登计划(Capacity UpgradingProgram，简称CUP)，自报名通知发布之日起受到了广大影像同道们的积极响应。感谢各位的积极参与，按照计划报名工作将于7月21日截止，鉴于第一次采用网上报名和评审的办法，系统还有不完善的地方，经讨论现将报名截止日期定在7月28日(星期五)。如果您
                        </div>
                        <!-- <div class="conter">
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                                </li>
                                <li><strong>上一篇：</strong><a href="/web/components/notification/notifica/notifica_1.html"
                                        title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="conter" id="article"><p class="MsoNormal" style="text-align: center;"><b><span style="font-family: 宋体; font-size: 24pt;"><span style="color: rgb(255, 0, 0);">紧急通知及温馨提醒</span></span></b></p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; 由中华国际医学交流基金会与中国医师协会放射医师分会共同发起的中青年影像医生“攀登计划”(Capacity Upgrading  Program，简称CUP)，自报名通知发布之日起受到了广大影像同道们的积极响应。感谢各位的积极参与，按照计划报名工作将于7月21日截止，鉴于第一次采用网上报名和评审的办法，系统还有不完善的地方，经讨论现将<span style="font-size: 20px;"><span style="color: rgb(255, 0, 0);"><strong>报名截止日期定在7月28日(星期五)</strong></span></span>。如果您在报名过程中遇到技术问题请及时致电18500230303，协调后台查询原因。</p>
                        <p><span style="font-size: 20px;"><span style="color: rgb(255, 0, 0);"><strong>如果实在解决不了请您将报名申请表及相应支撑材料，务必在7月28日(星期五)前</strong></span></span>快递至上海市浦东新区东方路800号宝安大厦35楼  李文卿收电话：13918128931，由后台工作人员代您录入相关信息。录入结束后会告知您用户名和密码，您可以随时关注评审动态。快递寄出时请发短信给告知寄出快递时间、及快递单号。</p>
                        <p>其余正常录入了报名信息的也请将您盖章的报名申请表及支相应的支撑材料复印件快递至上述地址，感谢您的支持与参与!</p>
                        <p>报名网站链接：<a href="http://www.lhjj.org" target="_blank">www.lhjj.org</a>，点击右下角弹窗进入报名链接。<br>
                        <br>
                        &nbsp; &nbsp; &nbsp; &nbsp;<img src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/doc.gif" width="16" height="16" border="0" alt="" align="absmiddle"> <a href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201707/17/15-15-46-29-1.docx&amp;name=%E9%99%84%E4%BB%B6%EF%BC%9A%E6%8A%A5%E5%90%8D%E8%A1%A8.docx" class="attach" rel="nofollow">附件：报名表.docx</a></p>
                        <p style="text-align: right;">攀登计划组委会</p>
                        <p>&nbsp;</p>
                        <p style="text-align: right;">2017年7月17日</p>
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_5.html"
                                        title="2016中国医师协会放射专业住院医师规范化培训师资培训班顺利召开">2016中国医师协会放射专业住院医师规范化培训师资培训班顺利召开</a>
                                </li>
                                <li><strong>上一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_3.html"
                                        title="中国医师协会第十二次放射医师年会">中国医师协会第十二次放射医师年会</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>