<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">第十二次放射医师年会论文汇编</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <div class="introduce">
                            核心提示：论文目录以下是部分目录,CT神经重组图像观察腰椎退行性侧凸对神经根-硬膜囊夹角的影响22对比增强乳腺X线摄影对不伴肿块的BI-RADS 4类微钙化的诊断价值
                            23　　Three dimensional comparisons between QCTPro and MIAF Femur for theproximal femur
                            measurements 24　　脊髓型颈椎病颈髓与手术效果间关系的DTI研究 25　　The value of conventional MRI in predi
                        </div>
                        <!-- <div class="conter">
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">第十二次放射医师年会论文汇编</a>
                                </li>
                                <li><strong>上一篇：</strong><a href="/web/components/notification/notifica/notifica_1.html"
                                        title="2019中青年影像医生“攀登计划”报名通知">2019中青年影像医生“攀登计划”报名通知</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                        <div class="conter" id="article">
                            <p>　　论文目录</p>
                            <p>　　以下是部分目录</p>
                            <p>　　CT神经重组图像观察腰椎退行性侧凸对神经根-硬膜囊夹角的影响 22</p>
                            <p>　　对比增强乳腺X线摄影对不伴肿块的BI-RADS 4类微钙化的诊断价值 23</p>
                            <p>　　Three dimensio<em></em>nal comparisons between QCTPro and MIAF Femur for the proximal
                                femur measurements 24</p>
                            <p>　　脊髓型颈椎病颈髓与手术效果间关系的DTI研究 25</p>
                            <p>　　The value of co<em></em>nventional MRI in predicating histological grade of spinal cord
                                non-ependymal gliomas 26</p>
                            <p>　　右侧大脑半球在脑梗塞后失语症康复中作用的探讨 27</p>
                            <p>　　多排螺旋CT在先天性迷走左肺动脉诊断中的应用价值 28</p>
                            <p>　　Clinical Application of Biparametric MRI Texture Analysis for Detection and
                                e<em></em>valuation of High-Grade Prostate Cancer in Zone-Specific Regions 29</p>
                            <p>　　基于PI-RADS v2的机器学习模型诊断高级别前列腺癌的价值 30</p>
                            <p>　　胎儿颌面颈部淋巴管畸形与梨状窝瘘MRI影像征象分析 31</p>
                            <p>　　小儿病毒性脑炎磁共振成像特点分析 32</p>
                            <p>　　双参数磁共振成像对前列腺癌诊断me<em></em>ta分析 33</p>
                            <p>　　基于PI-RADS v2 建立预测前列腺高级别肿瘤的列线图模型 34</p>
                            <p>　　磁共振IDEAL-IQ序列评估肝功能分级的可行性研究 35</p>
                            <p>　　宽体探测器单源双能CT在肝脏图像质量中的价值 36</p>
                            <p>　　基于单源双能CT平扫图像的纹理分析鉴别肝脓肿与肝转移瘤 37</p>
                            <p>　　Preliminary study on the differential diagnosis of mass type of gastric cancer and
                                gastric stromal tumor by texture analysis of unenhanced spectral CT images 38</p>
                            <p>　　DCE-MRI中Ktrans值对宫颈癌病理分级的诊断价值 39</p>
                            <p>&nbsp;</p>
                            <p>　　 &nbsp;<img
                                    src="http://www.chinaradiologists.org/member/fckeditor/editor/images/ext/pdf.gif"
                                    width="16" height="16" border="0" alt="" align="absmiddle"> <a
                                    href="http://www.chinaradiologists.org/api/attach.php?url=http://www.chinaradiologists.org/file/upload/201806/05/20-23-27-24-1.pdf&amp;name=CRA%E8%AE%BA%E6%96%87%E6%89%80%E5%BC%95.pdf"
                                    class="attach" rel="nofollow">CRA论文所引.pdf</a></p>
                            <div class="np">
                                <ul>
                                    <li><strong>下一篇：</strong><a
                                            href="/web/components/notification/notifica/notifica_3.html"
                                            title="中国医师协会第十二次放射医师年会">中国医师协会第十二次放射医师年会</a>
                                    </li>
                                    <li><strong>上一篇：</strong><a
                                            href="/web/components/notification/notifica/notifica_1.html"
                                            title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>