<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show-lf">
                    <div class="text-lf">
                        <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                    </div>
                    <h1 class="title">第9届肌骨影像论坛（MIF）暨“第五届肌骨影响诊断进展”学习班通知及日程安排</h1>
                    <div class="info">
                        发布日期：2020-04-22&nbsp;&nbsp;
                        <!-- 浏览次数：<span id="hits">2087</span> -->
                    </div>
                    <div class="introduce">
                        核心提示：4月11日： 正式会议（百瑞运河大酒店3层学术报告厅）开幕式8：30～9：00 主持：丁建平 、程晓光、龚向阳主持：许顺良、袁建华
                    </div>
                    <!-- <div class="conter">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_20.html"
                                    title="第9届肌骨影像论坛（MIF）暨“第五届肌骨影响诊断进展”学习班通知及日程安排">第9届肌骨影像论坛（MIF）暨“第五届肌骨影响诊断进展”学习班通知及日程安排</a>
                            </li>
                            <li><strong>上一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_18.html"
                                    title="2015中国医师协会放射医师年会暨第九届全国放射医师论坛会议通知">2015中国医师协会放射医师年会暨第九届全国放射医师论坛会议通知</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="conter" id="article">&nbsp;<img src="http://www.chinaradiologists.org/file/upload/201503/27/13-22-48-19-1.jpg" alt="杭州肌骨会议通知" width="716" height="1011" title="点击打开原图"><br>
                    <p>4月11日：&nbsp;&nbsp; 正式会议（百瑞运河大酒店3层学术报告厅）</p>
                    <p>开幕式8：30～9：00&nbsp; 主持：丁建平 、程晓光、龚向阳</p>
                    <p>主持：许顺良、袁建华</p>
                    <p>9：00~9：30&nbsp;&nbsp; 影像诊断--------------------------中山大学第一医院 孟悛非教授</p>
                    <p>9：30~10：00&nbsp; 影像学论文书写方法-----------中华放射学杂志 高宏主任&nbsp;</p>
                    <p>10：00~10：20&nbsp;&nbsp; 茶歇、交流、读片</p>
                    <p>主持：张敏鸣、陈文辉&nbsp;</p>
                    <p>10：20~10：50&nbsp; 影像诊断---------------------------------青岛大学第一医院 徐文坚教授</p>
                    <p>10：50~11：20&nbsp; 脊柱肿瘤的影像诊断------------------北京大学第三医院 袁慧书教授</p>
                    <p>11：20~11：50&nbsp; 骨关节感染新进展&nbsp; ------------------杭州师范大学附院 娄国强教授</p>
                    <p>12：00~14：00&nbsp;&nbsp; 午餐（二楼餐厅）、休息</p>
                    <p>主持：许茂盛、徐雷鸣&nbsp;</p>
                    <p>亚洲骨放射学会AMS-ROP讲师团</p>
                    <p>14：00~14：40&nbsp; Pitfalls in musculoskeletal MRI----------------------Wilfred C.G. PEH</p>
                    <p>14：40~15：20&nbsp; Hybrid imaging in musculoskeletal tumours--------------Seoung-Oh&nbsp; Yang</p>
                    <p>15：20~16：00&nbsp; Femoro-acetabular impingement: practical and updat-----Suphaneewan Jaovisidha</p>
                    <p>16：00~16：20&nbsp;&nbsp; 茶歇、交流、读片&nbsp;</p>
                    <p>主持：刘铁、赖灿</p>
                    <p>16：20~16：50&nbsp; 踝关节损伤的磁共振诊断 ----------------&nbsp; 南京医科大学附属医院&nbsp;王德航教授</p>
                    <p>16：50~17：20&nbsp; 肩袖间隙及相关结构损伤MR评估--------上海交通大学第六医院 姚伟武教授</p>
                    <p>17：20~17：50&nbsp; 颅骨骨源性肿瘤的影像学诊断---------------复旦大学附属华山医院 陈爽教授</p>
                    <p>18：00~20：00&nbsp;&nbsp; 晚餐&nbsp;（二楼餐厅）&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>4月12日：正式会议</p>
                    <p>主持：张联合、</p>
                    <p>8：00~8：30&nbsp; 影像进展----------------------中国医科大学盛京医院 潘诗农教授</p>
                    <p>8：30~9：00&nbsp; 影像诊断----------------------第二军医大学长征医院 王晨光教授</p>
                    <p>9：00~9：30&nbsp; 影像诊断-----------------------泰山医学院 刘林祥教授</p>
                    <p>9：30~10：00 影像诊断----------------------大连医科大学第一医院 刘爱莲教授</p>
                    <p>10：00~10：10茶歇、交流、读片</p>
                    <p>10：10~10：40&nbsp; 影像表现------------------南方医科大学大学第三医院 李绍林教授</p>
                    <p>10：40~11：10&nbsp; 影像诊断------------------杭州师范大学附院特聘专家（美国）殷玉明教授</p>
                    <p>11：10~11：30&nbsp; 影像诊断------------------------北京积水潭医院 程晓光教授</p>
                    <p>11：30~11：50&nbsp; 影像诊断------------------------浙江省人民医院 龚向阳 教授</p>
                    <p>11：50~12：00&nbsp; 骨肌病例分析与讨论--------------------- 杭州师范大学附院 陈勇\顾基伟</p>
                    <p>12：00~12：10 闭幕式-----------------------------------------戚乐</p>
                    <p>12：10~13：30 午餐（二楼餐厅）</p>
                    <p>替补：骨纤维增殖症的影像诊断-------------------------------杭州师范大学附院 丁建平教授&nbsp;</p>
                    <p>会务联系：张玲娇18757586571</p>
                    <br>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_20.html"
                                    title="中国医师协会放射医师分会2014广州年会">中国医师协会放射医师分会2014广州年会</a>
                            </li>
                            <li><strong>上一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_18.html"
                                    title="2015中国医师协会放射医师年会暨第九届全国放射医师论坛会议通知">2015中国医师协会放射医师年会暨第九届全国放射医师论坛会议通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                  
                <div class="show-rg">
                    <div class="show-text">
                        <div><strong>推荐图文</strong></div>
                    </div>
                    <div class="box_body">
                        <table width="100%">
                            <tbody>
                                <tr align="center">
                                    <td width="50%" valign="top"><a
                                            href="/web/components/notification/notifica/notifica_1.html">
                                            <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                        <ul>
                                            <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                    title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>