<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>


        <div class="content">
            <div class="container">
                <div class="show">
                    <div class="show-lf">
                        <div class="text-lf">
                            <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                        </div>
                        <h1 class="title">2016中国放射住院医师规范化培训六方峰会</h1>
                        <div class="info">
                            发布日期：2020-04-22&nbsp;&nbsp;
                            <!-- 浏览次数：<span id="hits">2087</span> -->
                        </div>
                        <div class="introduce">
                            核心提示：2016年8月26日，住院医师规范化培训六方峰会在中国医师协会放射医师年会的前一天，于河南省郑州市胜利召开。 在国家政策的引导下，全国范围内全面启动了住院医师规范化培训工作，2015年中国医师协会放射医师分会在南京组织召开了第一届住院医师规范化培训七方峰会
                        </div>
                        <!-- <div class="conter">
                         
                    </div> -->
                    <div class="conter" id="article"><div>
                        <p>&nbsp;</p>
                        <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p>2016年8月26日，“住院医师规范化培训六方峰会”在中国医师协会放射医师年会的前一天，于河南省郑州市胜利召开。</p>
                        </span></span>  <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p><br>
                        &nbsp; 在国家政策的引导下，全国范围内全面启动了住院医师规范化培训工作，2015年中国医师协会放射医师分会在南京组织召开了第一届“住院医师规范化培训七方峰会”，目的是了解和学习国外成熟的放射科住院医师规范化培训体系及相关经验，为建立有中国特色的住院医师规范化培训体系积累知识并听取国外专家意见，标志着中国放射住院医师规范化培训项目的启动，对我国放射科医学人才的培养有划时代的重要意义。</p>
                        </span></span><span style="font-size: 20px;"><span style="font-family: 宋体;"> </span></span>
                        <p><span style="font-size: 20px;"><span style="font-family: 宋体;"><br>
                        &nbsp; 今年的“六方峰会”我们重点关注规范化培训的考核，包括如何评价考核是否符合我们的需求，基地是否符合我们的要求，所以我们继续邀请国外专家对规范化培训的评价进行交流，国外成熟的制度给予我们借鉴，帮助我们更好的开展规范化培训工作。</span></span>&nbsp;</p>
                        <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p><br>
                        &nbsp; 中国放射医师协会与拜耳医药保健有限公司通力合作，邀请了来自美国、德国、日本、韩国、香港的6位重量级嘉宾讲者：<span style="font-family: Arial, Verdana, sans-serif;">&nbsp;<br>
                        <br type="_moz">
                        </span></p>
                        </span></span></div>
                        <div style="text-align: left;"><img src="http://www.chinaradiologists.org/file/upload/201608/29/17-25-18-14-1.jpg" alt="Bibb Allen (1)" width="716" height="476" title="点击打开原图"></div>
                        <div>&nbsp;</div>
                        <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <div style="text-align: center;">美国放射学会主席Bibb Allen教授<br>
                        <br>
                        </div>
                        </span></span><span style="font-family: 宋体;">
                        <div>&nbsp;</div>
                        </span><span style="font-size: 20px;"><span style="font-family: 宋体;"> </span></span>
                        <div>
                        <div style="text-align: left;"><span style="font-size: 20px;"><span style="font-family: 宋体;"> <img src="http://www.chinaradiologists.org/file/upload/201608/28/09-19-09-96-1.jpg" width="716" height="477" alt="" title="点击打开原图"><br>
                        </span></span></div>
                        <div style="text-align: center;"><span style="font-size: 20px;"><span style="font-family: 宋体;"> 美国放射学委员会诊断放射学和分支学科协理执行主任 Kay H. Vydareny教授<br>
                        <br>
                        <br type="_moz">
                        </span></span></div>
                        <span style="font-size: 20px;"><span style="font-family: 宋体;"> <br>
                        <div style="text-align: left;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/09-19-43-84-1.jpg" width="648" height="432" alt=""></div>
                        <div style="text-align: center;">德国放射学会副主席Michael Forsting教授<br>
                        &nbsp;</div>
                        <br>
                        <div><img src="http://www.chinaradiologists.org/file/upload/201608/28/09-20-16-32-1.jpg" width="716" height="477" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">大阪大学医学研究生院放射学院教授和主席 Noriyuki Tomiyama教授<br>
                        &nbsp;</div>
                        <br>
                        <div style="text-align: left;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/09-20-35-35-1.jpg" width="716" height="477" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">香港放射医师学院荣誉院士 梁冯令仪 教授<br>
                        &nbsp;</div>
                        <br>
                        <div style="text-align: left;">&nbsp;<img src="http://www.chinaradiologists.org/file/upload/201608/28/09-20-54-38-1.jpg" width="716" height="477" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">韩国放射学会培训委员会主委Seung-Koo Lee教授<br>
                        &nbsp;</div>
                        <br>
                        </span></span>
                        <p><span style="font-size: 20px;"><span style="font-family: 宋体;">中国放射医师协会郭启勇会长致峰会开幕辞，表达了对外国专家的欢迎与感谢，并叮嘱与会专家教授认真听取国外成熟经验，为今后的工作做充足的准备。6位嘉宾讲者分别介绍了各自国家和地区的放射科住院医师培训体系以及放射科人才培养的发展历程，在很短的时间内向大家展示了美国、德国、香港及日韩的放射科培训基地评估体系和放射住院医师考评体系。</span></span></p>
                        </div>
                        <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <div>&nbsp;</div>
                        <div style="text-align: left;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/09-21-20-21-1.jpg" width="716" height="477" alt="" title="点击打开原图"></div>
                        <div style="text-align: center;">郭启勇会长<span style="font-family: Arial, Verdana, sans-serif;">&nbsp;</span><span style="font-family: Arial, Verdana, sans-serif;">&nbsp;<br>
                        <br type="_moz">
                        </span></div>
                        </span></span><span style="font-size: 20px;"><span><span><span><span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p>中国放射医师协会郭启勇会长致峰会开幕辞，表达了对外国专家的欢迎与感谢，并叮嘱与会专家教授认真听取国外成熟经验，为今后的工作做充足的准备。6位嘉宾讲者分别介绍了各自国家和地区的放射科住院医师培训体系以及放射科人才培养的发展历程，在很短的时间内向大家展示了美国、德国、香港及日韩的放射科培训基地评估体系和放射住院医师考评体系。<span style="font-family: Arial, Verdana, sans-serif;">&nbsp;<br>
                        <br type="_moz">
                        </span></p>
                        </span></span><span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p>宋彬教授还主持了五十分钟的专家讨论环节，6位嘉宾共同上台，解答了来自听众和主持人关于住院医师认证和考核的细节、规范化标准如何界定、放射介入培训的特点、规范化培训过程中放射医师的人生设计等诸多与规范化培训改革切实相关的问题。</p>
                        <p style="text-align: left;"><img src="http://www.chinaradiologists.org/file/upload/201608/29/17-34-45-71-1.jpg" alt="_16C1110" width="716" height="477" title="点击打开原图"></p>
                        <p style="text-align: center;">宋彬教授<span style="font-family: Arial, Verdana, sans-serif;">&nbsp;</span></p>
                        </span></span><span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <p>郭启勇会长对峰会作最后总结，不同国家不同条件不同培养模式的认证考核模式，虽然效果不同但是在专业化的道路上一直努力着，不同的差异才是我们进步的源泉，放射诊断领域是医学领域最重要的部分，趋势是从专业到全科，考核包括设施，人员，体系，制度等的考核，保证我们用相同的质量为病患服务，是我们追求的目标，希望在座的中国专家共同思考，携手努力创造并建立起适合中国实际情况的放射科住院医师规范化培训体系。最后，郭院长代表协会和个人感谢了所有嘉宾讲者的到来，也感谢了拜耳医药保健有限公司全程的支持，更加感谢了所有在座专家教授的全情参与！<span style="font-family: Arial, Verdana, sans-serif;">&nbsp;<br>
                        <br type="_moz">
                        </span></p>
                        </span></span>
                        <p><span style="font-size: 20px;"><span style="font-family: 宋体;">未来放射科住院医师培训规范化的建立需要政府、协会与医生的协同合作。这次峰会为协会和放射科医师教授指明了方向，拜耳医药保健有限公司也将与中国放射医师协会继续合作，支持放射住培委员组制定培训内容与准入标准，响应国家政策要求，力争在2020年基本建立起完善的放射住院医师与专科医师规范化培训体系。<br>
                        <br>
                        <br>
                        &nbsp; &nbsp;同时，也感谢拜耳医药保健有限公司的大力支持！让我们一起为中国的放射医师规范化培训贡献力量！<br>
                        <br>
                        </span></span></p>
                        <p style="text-align: left;"><span style="font-size: 20px;"><span style="font-family: 宋体;"><img src="http://www.chinaradiologists.org/file/upload/201608/28/09-21-35-43-1.jpg" width="716" height="477" alt="" title="点击打开原图"></span></span></p>
                        </span></span></span></span>   <span style="font-size: 20px;"><span style="font-family: 宋体;">
                        <div>&nbsp;</div>
                        </span></span><span style="font-family: 宋体;">
                        <div>&nbsp;</div>
                        </span><span style="font-size: 20px;"><span style="font-family: 宋体;"> </span></span><br>
                        <div class="np">
                            <ul>
                                <li><strong>下一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_8.html"
                                        title="中国医师协会放射医师分会年会暨第十届全国放射医师论坛会议日程">中国医师协会放射医师分会年会暨第十届全国放射医师论坛会议日程</a>
                                </li>
                                <li><strong>上一篇：</strong><a
                                        href="/web/components/notification/notifica/notifica_6.html"
                                        title="中国医师协会放射分会2016年全国年会隆重开幕！">中国医师协会放射分会2016年全国年会隆重开幕！</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                      
                    <div class="show-rg">
                        <div class="show-text">
                            <div><strong>推荐图文</strong></div>
                        </div>
                        <div class="box_body">
                            <table width="100%">
                                <tbody>
                                    <tr align="center">
                                        <td width="50%" valign="top"><a
                                                href="/web/components/notification/notifica/notifica_1.html">
                                                <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                    width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                            <ul>
                                                <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                        title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_head">
                            <div><strong>推荐资讯</strong></div>
                        </div>
                        <div class="box_body">
                            <ul class="ul">
                                <li>
                                    <a href="//web/components/notification/notifica/notifica_1.html"
                                        title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                                </li>
                                <li>
                                    <a href="/web/components/notification/notifica/notifica_2.html"
                                        title="第十二次放射医师年会论文汇编">关于中青年影像医生“攀登计划”紧急通知及温馨提醒</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>