<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/web/css/notification/notifica/notifica_1.css">
    <link rel="stylesheet" href="/web/common/header/header.css">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/common.css">
    <script src="/web/js/jquery-1.11.3.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

<body>
      <div class="center-erweima" id="box1" style="bottom:50%;right:10px;">
        <div class="p">
            <img src="/web/images/qrcode_for_gh_df993352a9a3_344.jpg" alt="">
        <p>关注此公众号</p>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="zheceng" id="zheceng">
    </div>
    <div class="popup">
        <div class="err">
            <img src="/web/images/error.png" alt="">
        </div>
        
        <div class="popup-bottom">
            <div class="popup-footer">
                <p> 
                    <img src="/web/images/wx.png" alt="">
                微信安全登录</p>
            </div>
            <div class="tab-item">
                <div id="login_container">啊啊啊</div>
            </div>
        </div>
        
    </div>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-left">
                    <marquee scrollAmount=3 height=25 direction="up" onmouseover=stop() onmouseout=start()>
                        <div class="img"></div>
                        <div class="text">
                            <span>欢迎访问 --中国医师协会放射医师分会</span>
                        </div>
                    </marquee>
                </div>
                <div class="header-right">
                    <div class="right-img">
                        <img id="headerImg" src="/web/images/icon/my.png" alt="">
                    </div>
                    <div class="right-text">
                        <div class="username">
                            <ul>
                                <li><a href="#">登录&nbsp;&nbsp;/注册</a></li>
                            </ul>
                            <img class="dengluImg" src="/web/images/icon/triangle.png" alt="">
                        </div>
                        <div class="personage">
                            <div class="personage-top">
                                    <!-- <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p>
                                    <p><a href="">个人中心</a></p> -->
                            </div>
                            <div class="quit">
                                <p class="quitCode"><a href="">退出登录</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="logo">
        <div class="container">
            <a href="/index.html">
                <img src="/web/images/logo.jpg" alt="">
            </a>
        </div>

    </div>
    <div class="nav-li">
        <div class="container">
            <div class="lis">
                <ul>
                    <li>
                        <h3><a href="/index.html">首页</a></h3>
                    </li>
                    <li class="hover-organization">
                        <h3><a href="/web/components/organization/organization.html" target="_parent">组织架构</a></h3>
                          
                    </li>
                    <li>
                        <h3><a href="/web/components/newsTrends/newsTrends.html" target="_parent">新闻动态</a></h3>
                    </li>
                    <li>
                        <h3><a  class="click-color"  href="/web/components/notification/notification.html" target="_parent">通知公告</a></h3>
                    </li>
                    <li>
                        <h3><a href="/web/components/education/education.html">继续教育</a></h3>
                        <ul class="sub-1">
                            <li><a href="/web/components/education/education.html">典型案例</a></li>
                            <li><a href="/web/components/Video/video.html">视频培训</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="/web/components/cooperation/cooperation.html" target="_parent">战略合作</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div class="content">
            <div class="container">
                <div class="show-lf">
                    <div class="text-lf">
                        <span style="color:#333">通知公告</span>&nbsp;>> &nbsp;正文
                    </div>
                    <h1 class="title">第七届中国骨科医师年会隆重召开</h1>
                    <div class="info">
                        发布日期：2020-04-22&nbsp;&nbsp;
                        <!-- 浏览次数：<span id="hits">2087</span> -->
                    </div>
                    <div class="introduce">
                        核心提示：　　第七届中国骨科医师年会于2014年5月9-11日在北京九华山庄隆重召开，来自全国的4100多名骨科医师代表参加了会议。中国医师协
                    </div>
                    <!-- <div class="conter">
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_1.html"
                                    title="第七届中国骨科医师年会隆重召开">第七届中国骨科医师年会隆重召开</a>
                            </li>
                            <li><strong>上一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_22.html"
                                    title="2014中国医师协会内分泌代谢科医师分会年会通知">2014中国医师协会内分泌代谢科医师分会年会通知</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="conter" id="article"><p>　　第七届中国骨科医师年会于2014年5月9-11日在北京九华山庄隆重召开，来自全国的4100多名骨科医师代表参加了会议。中国医师协会会长张雁灵，骨科医师分会第一任会长党耕町、第二任会长曾炳芳和现任会长王岩出席大会开幕式。开幕式由王岩会长主持。</p>
                    <p>　　开幕视频《医者仁心》，以“骨科医师的一天”为主线，讲述了骨科医师的工作与生活、困惑与压力、坚守与责任、辛苦与快乐，引发了现场全体骨科医师的共鸣，每一名医师都信守：“用心守护、用爱坚守、天下骨科是一家”。</p>
                    <p>　　中国医师协会会长张雁灵在开幕式上致辞，张会长指出，本次会议是一次年会、是一次盛会、更是骨科医师大家庭的团聚。改革开放30年来，骨科学科是发展最快的学科之一，也是基础研究与临床结合得最好的学科，临床技术不断创新，培养了一代又一代的骨科人，全国十几万的骨科医师队伍是骨科学迅猛发展的不竭动力。张会长对党耕町、曾炳芳、王岩三位分会历任会长带领下的分会工作给予了充分肯定，高度赞扬了本次年会的亮点以及在模式、方法、内容三大方面的创新，同时希望骨科医师分会在行业标准和规范的制定、人才培养等方面更快的推进。</p>
                    <p>　　本届年会以“扎实骨科医师的基础教育，注重理论与实操相结合”为重点，遵循增强课程实用性的理念，力求满足从基层医院到三级专科医院不同层次医师的继续教育需求。本次年会改变了传统的教育模式，加强实体操作讲解的同时,充分运用互动网络教育平台，通过课程和手术网络直播和转播、网上回顾等新途径传播教育内容。内容丰富，涵盖关节、脊柱、创伤、运动医学、显微修复、骨肿瘤、中西医结合等14个骨科亚专业的课程，首次将Workshop融入大会日程，将理论讲授与实际操作相结合,  还增设了尸体标本培训专场，由专家在尸体标本上进行脊柱微创的手术演示，并进行现场直播。</p>
                    <p>　　会议期间召开了骨科医师分会全委扩大会议，会议通过了增设12个专业工作委员会，分别是骨科基础、运动医学、小儿骨科、骨科康复、肩肘外科、足踝外科、显微修复、中西医结合骨科、骨质疏松、骨肿瘤、外固定与肢体重建和中青年工作委员会。</p>
                    <p>　　骨科医师分会首次开展了全国十佳中青年骨科医师的评选工作，对取得优异成绩的中青年医师给予继续教育的奖励，激励中青年医师的上进心和工作动力。开幕式上，与会领导为十名获奖医师颁发了证书，获奖医师代表欧阳宏伟发表了获奖感言，同时表达了对骨科医师的未来充满了信心和为骨科医学事业做出更大贡献的坚定信念。</p>
                    <br>
                    <div class="np">
                        <ul>
                            <li><strong>下一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_1.html"
                                    title="第十三次放射医师年会【参会攻略】">第十三次放射医师年会【参会攻略】</a>
                            </li>
                            <li><strong>上一篇：</strong><a
                                    href="/web/components/notification/notifica/notifica_22.html"
                                    title="2014中国医师协会内分泌代谢科医师分会年会通知">2014中国医师协会内分泌代谢科医师分会年会通知</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                  
                <div class="show-rg">
                    <div class="show-text">
                        <div><strong>推荐图文</strong></div>
                    </div>
                    <div class="box_body">
                        <table width="100%">
                            <tbody>
                                <tr align="center">
                                    <td width="50%" valign="top"><a
                                            href="/web/components/notification/notifica/notifica_1.html">
                                            <img src="http://www.chinaradiologists.org/file/upload/201706/14/11-12-11-96-1.jpg"
                                                width="120" height="90" alt="中青年影像医生“攀登计划”第四期第一轮遴选结果”"></a>
                                        <ul>
                                            <li><a href="/web/components/notification/notifica/notifica_1.html"
                                                    title="中青年影像医生“攀登计划”第四期第一轮遴选结果">中华国际医学交流基金</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <iframe src="/web/common/footer/footer.html" width="100%" ; height="127px" frameborder="0" scrolling="no"
            name="footerFrame"></iframe>
        <script src="/web/common/header/header.js"></script>
<script src="/web/common/header/header.js"></script>
</body>

</html>